openapi: 3.1.0
info:
  title: Treasures Finance — B2B Public API
  version: v1
  license:
    name: Proprietary
  description: |
    Public B2B API for tokenized stock discovery, quoting and trade execution, USDC
    bridging across Solana and Ethereum, and portfolio + trade history reads.

    **Wire format.** All token amounts, USDC amounts, shares, prices and bps-derived
    decimals are JSON **strings** to avoid float drift. Integer fields
    (`expires_at`, `*_bps`, `quote_index`, timestamps in seconds) are JSON numbers.

    **Auth.** Only `POST /quote/buy`, `POST /quote/sell` and `POST /bridge/quote`
    require `ownership_proof` (wallet-key signature over a canonical challenge —
    see `OwnershipProof`). `POST /trade/submit` is gated by the per-leg signed
    payload itself. `GET /settlements` **requires** an integrator API key in
    `X-API-Key` (see `IntegratorApiKey`); every other route may be called
    anonymously.

    **Integrator API keys are optional everywhere else — but not ignored.** If you
    send `X-API-Key` on any route, a key beginning `tik_`/`trk_` is verified and a
    bad one is rejected rather than silently downgraded to anonymous:

    | Condition | Response |
    |---|---|
    | Malformed or unknown key | `401 invalid_api_key` |
    | Revoked key | `403 key_revoked` |
    | Your organisation is suspended | `403 integrator_suspended` |
    | Read-only (`trk_`) key on a non-reporting route | `403 insufficient_scope` |

    A **`trk_` reporting key reaches the reporting routes and nothing else.**
    Today that is exactly one route: `GET /settlements`. Everywhere else on this
    API it answers `403
    insufficient_scope`. That refusal is the point: it is what makes the key safe
    to hand to a third party for reporting. Use your `tik_` key for API access;
    it works on the reporting routes too. A credential for a different Treasures
    plane (e.g. a `twk_` wallet key) is not addressed to this API and is ignored,
    so those requests are served anonymously.

    **Rate limits.** Per-IP and per-(IP, wallet) sliding windows.
    Presenting a valid key adds a per-organisation bucket shared by all of your
    keys — a cross-IP aggregate bound, additive to the per-IP limits rather than a
    raised ceiling. Upstream 429s propagate as `502 provider_unavailable`.
servers:
  - url: https://api.treasures.io/public/v1
    description: Production

security: []

tags:
  - name: Stocks
    description: Catalog and live price discovery.
  - name: Quote
    description: Quote issuance and aggregate status polling.
  - name: Trade
    description: Atomic submission of signed quote legs.
  - name: Bridge
    description: Cross-chain USDC bridging.
  - name: Portfolio
    description: Wallet-scoped holdings, reconciled vs on-chain.
  - name: Trades
    description: Wallet-scoped trade history.
  - name: Settlements
    description: Your organisation's own settled trade ledger, for reporting.

paths:
  /stocks:
    get:
      operationId: listStocks
      tags: [Stocks]
      summary: List active tradable stocks (catalog + live enrichment)
      description: |
        Catalog with tradfi snapshot and onchain aggregate.
        Cached server-side for 30 s.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StocksListResponse"
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /stocks/tickers:
    get:
      operationId: listStockTickers
      tags: [Stocks]
      summary: List active tickers (no price enrichment)
      description: Catalog rows only. Cached server-side for 5 min — cheap to poll.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StocksTickersResponse"
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /stocks/prices:
    get:
      operationId: getStockPrices
      tags: [Stocks]
      summary: Live per-protocol prices for requested tickers
      parameters:
        - name: tickers
          in: query
          required: true
          description: |
            Comma-separated list, 1–50 tickers. Each item matches `^[A-Z0-9.-]{1,10}$`
            **case-insensitively** — server normalizes to uppercase before lookup.
          schema:
            type: string
            example: AAPL,NVDA
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StockPricesResponse"
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/ProviderUnavailable" }

  /quote/buy:
    post:
      operationId: quoteBuy
      tags: [Quote]
      summary: Quote USDC → stock token (one leg per chain the ticker lists, better first)
      description: |
        Requires `ownership_proof` for each wallet provided. Returns one best leg per
        chain the ticker lists (up to four today: sol, eth, robinhood, base) — the
        signable quote legs (one per chain). Cache the returned `quote_id`;
        every signed leg is submitted together at `/trade/submit`.
        Set `quote_only: true` for a non-executable price preview (the wallet need
        not be funded; `quote_id`, `expires_at`, and `signable_payloads` are omitted).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QuoteBuyRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteBuyResponse"
        "400":
          description: Invalid request body, slippage out of range, unknown ticker, or zero amount.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidRequestError"
                  - $ref: "#/components/schemas/InvalidSlippageError"
        "401":
          description: Ownership-proof failure.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OwnershipProofError"
        "410":
          description: Quote stale (upstream price moved past expiry mid-build).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleError"
              example: { error: quote_stale }
        "422":
          description: No fillable routes returned by the planner.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NoRoutesError"
              examples:
                no_routes: { value: { error: no_routes } }
        "403": { $ref: "#/components/responses/AddressBlocked" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/ProviderUnavailable" }
        "503": { $ref: "#/components/responses/ScreeningUnavailable" }

  /quote/sell:
    post:
      operationId: quoteSell
      tags: [Quote]
      summary: Quote stock holdings → USDC (all legs needed; all-or-nothing submit)
      description: |
        Plans the optimal sequence of swap legs across the user's current holdings.
        Every returned leg must be signed and submitted together at `/trade/submit`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QuoteSellRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteSellResponse"
        "400":
          description: Invalid request body, slippage out of range, unknown ticker, or zero amount.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidRequestError"
                  - $ref: "#/components/schemas/InvalidSlippageError"
        "401":
          description: Ownership-proof failure.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OwnershipProofError"
        "410":
          description: Quote stale (upstream price moved past expiry mid-build).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleError"
              example: { error: quote_stale }
        "422":
          description: |
            No fillable routes returned by the planner, or insufficient holdings
            for the requested share amount.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/NoRoutesError"
                  - $ref: "#/components/schemas/SimpleError"
              examples:
                no_routes: { value: { error: no_routes } }
                holdings_insufficient:
                  { value: { error: holdings_insufficient } }
                holdings_unknown: { value: { error: holdings_unknown } }
        "403": { $ref: "#/components/responses/AddressBlocked" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/ProviderUnavailable" }
        "503": { $ref: "#/components/responses/ScreeningUnavailable" }

  /quote/{quote_id}/status:
    get:
      operationId: getQuoteStatus
      tags: [Quote]
      summary: Aggregate + per-leg status for a previously issued quote
      description: |
        Public read-only — no `ownership_proof`. Ethereum in-flight rows are
        lazy-flipped against the upstream venue on read; Solana `broadcast_unknown` rows stay
        in-flight until operator action. In-progress aggregates cached 10 s.
      parameters:
        - name: quote_id
          in: path
          required: true
          schema: { type: string, minLength: 1 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteStatusResponse"
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "404":
          description: Unknown `quote_id` (expired cache, never issued, or no rows persisted).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleError"
              example: { error: quote_not_found }
        "429": { $ref: "#/components/responses/RateLimited" }

  /trade/submit:
    post:
      operationId: submitTrade
      tags: [Trade]
      summary: Submit signed quote legs atomically
      description: |
        Idempotent on `(quote_id, quote_index)`. The per-leg signed payload IS the
        authorization proof — no `ownership_proof` required here. Re-quote (`410
        quote_stale`) if the cached snapshot expired between issue and submit.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TradeSubmitRequest"
      responses:
        "200":
          description: |
            Partial-broadcast tolerated: legs that landed appear under `results`,
            legs that hit an invariant break appear under `failed_legs` with a
            generic `internal_error` code so the agent can reconcile on-chain.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradeSubmitResponse"
        "400":
          description: Malformed body, incomplete submit, or `quote_index` not in snapshot.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidRequestError"
                  - $ref: "#/components/schemas/SimpleErrorWithMessage"
              examples:
                incomplete_submit:
                  {
                    value:
                      {
                        error: incomplete_submit,
                        message: "missing leg(s) for quote_id ...",
                      },
                  }
                quote_index_mismatch:
                  {
                    value:
                      {
                        error: quote_index_mismatch,
                        message: "unknown quote_index ...",
                      },
                  }
        "404":
          description: Unknown or expired `quote_id`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleError"
              example: { error: quote_not_found }
        "409":
          description: A leg under `(quote_id, quote_index)` was already submitted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegAlreadySubmittedError"
        "410":
          description: Snapshot expired between issue and submit — re-quote.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleError"
              example: { error: quote_stale }
        "403": { $ref: "#/components/responses/AddressBlocked" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/ScreeningUnavailable" }

  /bridge/quote:
    post:
      operationId: quoteBridge
      tags: [Bridge]
      summary: Quote a cross-chain USDC bridge
      description: |
        Returns a Treasures-issued `bridge_quote_id` plus a signable payload the
        agent must broadcast themselves. Both `sol_wallet` and `eth_wallet` (and
        their matching `ownership_proof` signatures) are mandatory.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BridgeQuoteRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BridgeQuoteResponse"
        "400":
          description: |
            Bad request, same-chain bridge, unsupported route, or slippage out of range.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidRequestError"
                  - $ref: "#/components/schemas/InvalidSlippageError"
                  - $ref: "#/components/schemas/SimpleError"
              examples:
                same_chain_bridge: { value: { error: same_chain_bridge } }
                unsupported_route: { value: { error: unsupported_route } }
        "401":
          description: Ownership-proof failure.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OwnershipProofError"
        "422":
          description: Upstream reported insufficient liquidity for the route.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleError"
              example: { error: insufficient_liquidity }
        "403": { $ref: "#/components/responses/AddressBlocked" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/ProviderUnavailable" }
        "503": { $ref: "#/components/responses/ScreeningUnavailable" }

  /bridge/{bridge_quote_id}/status:
    get:
      operationId: getBridgeStatus
      tags: [Bridge]
      summary: Status of a previously issued bridge quote
      description: |
        Required because the agent has no other way to discover the destination
        tx hash — the upstream bridge's source tx hash alone cannot be used to
        look up fill status.
      parameters:
        - name: bridge_quote_id
          in: path
          required: true
          schema:
            type: string
            pattern: "^brq_[A-Za-z0-9_-]{21}$"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BridgeStatusResponse"
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "404":
          description: Unknown `bridge_quote_id`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleError"
              example: { error: bridge_quote_not_found }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/ProviderUnavailable" }

  /portfolio:
    get:
      operationId: getPortfolio
      tags: [Portfolio]
      summary: Reconciled holdings + USDC / USDG balances for the given wallets
      description: At least one of `sol_wallet` / `eth_wallet` is required.
      parameters:
        - $ref: "#/components/parameters/SolWalletQuery"
        - $ref: "#/components/parameters/EvmWalletQuery"
        - $ref: "#/components/parameters/SourceQuery"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortfolioResponse"
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /trades:
    get:
      operationId: listTrades
      tags: [Trades]
      summary: Swap-only trade history for the given wallets
      description: |
        Returns trades plus a `next_offset` cursor when more pages exist.
        Synthesizes external rows on detected drift (source = `external`).
      parameters:
        - $ref: "#/components/parameters/SolWalletQuery"
        - $ref: "#/components/parameters/EvmWalletQuery"
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 5000
            default: 0
        - $ref: "#/components/parameters/SourceQuery"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradesResponse"
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /settlements:
    get:
      operationId: listSettlements
      tags: [Settlements]
      summary: Your organisation's settled trades, paginated
      security:
        - IntegratorApiKey: []
      description: |
        Every trade submitted through `POST /trade/submit` **with your API key
        presented**, newest first. This is the one route a read-only `trk_` reporting
        key may call; your `tik_` key works here too and returns the same rows.

        **Settled fills only.** A trade appears once it reaches `completed` — on
        Ethereum and Robinhood Chain that is when the resolver fills the order, which
        can be minutes after you submitted it. Until then the amounts on record are
        quote-time expectations, not what happened, so they are withheld rather than
        reported as fact. Poll `GET /quote/{quote_id}/status` for in-flight legs.

        **Attribution requires the header.** A submit sent without `X-API-Key` is not
        attributed to anyone and will never appear here — there is no way to recover
        it afterwards. Trades predating this endpoint are likewise absent.

        Ordering and pagination key on settlement time. Pass the previous response's
        `next_cursor` back as `cursor` to page; `has_more` tells you whether another
        page exists. `data` may be shorter than `limit` while `has_more` is `true`.

        **Re-scan a trailing window if you reconcile exactly.** A small number of Solana
        trades are settled by a recovery job that records the on-chain block time, which
        is earlier than when the record appeared — typically by minutes. Such a row lands
        *behind* a cursor you have already paged past. If your totals must be exact,
        re-scan roughly the last 2 hours on each pass rather than relying on the cursor
        alone; `trade_id` is stable, so re-scanned rows deduplicate cleanly. Note that 2
        hours is a normal-operations figure, not a guaranteed bound: if that recovery job
        is itself delayed, a row can be backdated by as long as the delay. Treat a
        periodic wider re-scan as the backstop for balances that must tie out exactly.

        Each entry carries a LI.FI-style `sending` / `receiving` leg pair. Treasures
        trades are single-chain swaps, so both legs share one transaction hash,
        chain and timestamp — only the token and amount differ. The top-level
        `tx_hash` / `token_out_address` / `amount` mirror the `receiving` leg.

        **Every amount is truncated, never rounded up.** Amounts, prices and fees are
        reported at or below their true value — never above it — so a figure here is
        always safe to reconcile, re-spend, or pay out against without a buffer. Treat
        the last decimal place as a floor rather than a rounded value.

        **Filtering.** All filter parameters are optional and combine with AND; omitting
        one means "any". `chain`, `protocol` and `ticker` accept a comma-separated list
        which is an OR *within* that parameter — `?chain=sol,eth&ticker=AAPL` means AAPL
        on Solana or Ethereum. Repeating a parameter is **not** additive:
        `?chain=sol&chain=eth` is read as `sol` alone, so use the comma form. A filter
        that matches nothing returns an empty `data` with `200`, never an error.

        **Casing follows the response.** Every filter value is matched in the casing this
        endpoint reports it in: `chain`, `protocol` and `side` are lowercase and are
        matched exactly (`?side=BUY` is rejected), while `ticker` is reported uppercase
        and is the one filter accepted in any case. EVM `token_out_address` values are
        case-insensitive; Solana addresses are base58 and case-sensitive.

        **A cursor is bound to the filters that produced it.** Paging is a keyset over one
        result set, so changing any filter mid-chain invalidates the cursor and returns
        `400 cursor: filters_changed` — start that new query from the first page. Changing
        `limit` is fine and does not invalidate the cursor.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          description: >-
            Opaque cursor from a prior response's `next_cursor`. Treat it as a blob —
            its encoding is not part of this contract and may change.
          schema:
            type: string
            maxLength: 256
        # style: form + explode: false IS the comma-separated serialization (`?chain=sol,eth`), and
        # encoding it this way rather than as a bare string states the non-additive rule structurally:
        # a repeated `?chain=sol&chain=eth` is the explode:true form, which this endpoint does not use.
        - name: chain
          in: query
          style: form
          explode: false
          description: Chains to include; omit for all. Values are lowercase, matched exactly.
          schema:
            type: array
            maxItems: 4
            items:
              type: string
              enum: [sol, eth, robinhood, base]
          example: [sol, eth]
        - name: protocol
          in: query
          style: form
          explode: false
          description: Protocols to include; omit for all. Values are lowercase, matched exactly.
          schema:
            type: array
            maxItems: 4
            items:
              type: string
              enum: [ondo, xstocks, robinhood, coinbase]
          example: [ondo, xstocks]
        - name: ticker
          in: query
          style: form
          explode: false
          description: >-
            Tickers to include, case-insensitive. Matches the response's `ticker` field,
            not the venue-suffixed token symbol.
          schema:
            type: array
            maxItems: 50
            items:
              type: string
              maxLength: 10
          example: [AAPL, MSFT]
        - name: side
          in: query
          schema:
            type: string
            enum: [buy, sell]
        - name: token_out_address
          in: query
          description: >-
            The contract address of the token **received**, matching the response's
            `token_out_address`. Because that field is side-dependent, so is this filter:
            a stock token address returns *buys* of that token, while a base-currency
            address (USDC, or USDG on Robinhood Chain) returns *sells* on that chain. An
            address we do not carry returns an empty page rather than an error.
          schema:
            type: string
            example: "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48"
        - name: settled_from
          in: query
          description: >-
            Earliest settlement time, inclusive, as a Unix timestamp in seconds. Compares
            against the same `timestamp` each entry reports.
          schema:
            type: integer
            minimum: 0
            maximum: 253402300798
        - name: settled_to
          in: query
          description: >-
            Latest settlement time, **inclusive of the whole second** — an entry
            reporting `timestamp` equal to this value is always included. Must be greater
            than or equal to `settled_from`.
          schema:
            type: integer
            minimum: 0
            maximum: 253402300798
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettlementsResponse"
        "400":
          description: >-
            Invalid query. `cursor: malformed` means the cursor did not decode —
            restart from the first page rather than retrying it. `cursor:
            filters_changed` means the cursor came from a different set of filters;
            restart that query from the first page. `settled_from: must be <=
            settled_to` means the time range is inverted.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InvalidRequestError" }
        "401":
          description: >-
            Missing, malformed or unknown `X-API-Key`. These are deliberately
            indistinguishable — the API never reveals whether a key exists.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SimpleError" }
              example: { error: "invalid_api_key" }
        "403":
          description: >-
            A key you genuinely hold, but which may not be used here.
            `key_revoked` — the key was retired. `integrator_suspended` — your
            organisation is suspended, so every one of your keys is affected.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SimpleError" }
              example: { error: "key_revoked" }
        "429": { $ref: "#/components/responses/RateLimited" }

components:
  securitySchemes:
    IntegratorApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: >-
        Per-organisation key issued out of band. Two kinds: `tik_…` (general — API
        access) and `trk_…` (reporting — read-only, intended to be handed to a
        third party, and accepted **only** on the reporting routes: today just
        `GET /settlements`. Every other route in this spec answers
        `insufficient_scope`). Required by `GET /settlements`;
        accepted on every other route for attribution and a per-organisation rate
        bucket. Send it on `POST /trade/submit` too — that is what makes a trade
        appear in your `GET /settlements` reporting.
        A missing or unknown key is `401 invalid_api_key`; a real but retired key
        is `403 key_revoked`.

  parameters:
    SolWalletQuery:
      name: sol_wallet
      in: query
      required: false
      schema:
        $ref: "#/components/schemas/SolAddress"
    SourceQuery:
      name: source
      in: query
      required: false
      description: >-
        Column toggle (not a row filter). `all` (default) leaves the internal-lot P&L
        columns null; `internal` populates them from a replay of completed internal
        trades only. Realized P&L follows Hyperliquid `closedPnl` semantics.
      schema:
        type: string
        enum: [all, internal]
        default: all
    EvmWalletQuery:
      name: eth_wallet
      in: query
      required: false
      schema:
        $ref: "#/components/schemas/EvmAddress"

  responses:
    InvalidRequest:
      description: Malformed query, body, or path parameter.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/InvalidRequestError"
    RateLimited:
      description: >-
        Sliding window exceeded — per-IP or per-(IP, wallet), plus a
        per-organisation bucket (shared across all of your keys) whenever a valid
        `X-API-Key` is presented. `Retry-After` header carries delta-seconds.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SimpleError"
          example: { error: "Too many requests" }
    ProviderUnavailable:
      description: Upstream provider failed or rate-limited us.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SimpleError"
          example: { error: provider_unavailable }
    AddressBlocked:
      description: |
        A wallet on the request was flagged by sanctions screening. Permanent —
        do not retry with the same wallet.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SimpleError"
          example: { error: address_blocked }
    ScreeningUnavailable:
      description: |
        Sanctions screening could not be completed and the request was rejected
        (fail-closed). Transient — back off and retry.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SimpleError"
          example: { error: screening_unavailable }

  schemas:
    # ------------ Listing-tradability advisory (shared by every surface that carries it) ---
    Tradability:
      type: string
      enum: [thin, untradable]
      description: >
        Probe warning for one cell. `thin` — the cell fills, but not at every size below its
        measured minimum. `untradable` — nothing filled at any size across a full measurement
        window, and no minimum accompanies it. **Neither value disables the cell**; quotes are
        still accepted for both. Absent means unmeasured or unwarned — never
        healthy-with-value-null.
    WarnReason:
      type: string
      enum: [settlement_failure, no_price_feed, no_fill_window, low_volume]
      description: >
        Why the cell is warned, strongest evidence first: `settlement_failure` (a real order died)
        > `no_price_feed` (the venue holds no price for the pair) > `no_fill_window` (a full window
        of quiet auctions) > `low_volume` (a volume proxy). Absent when unwarned, or when the warn
        predates reason recording. Not stable over a cell's lifetime — a `low_volume` warn that
        later kills a real order flips to `settlement_failure`.
    SideNeutralWarnReason:
      type: string
      enum: [low_volume, no_price_feed]
      description: >
        The subset of `WarnReason` that bears on an exit as much as an entry, and the only values a
        sell surface publishes. The buy-sided reasons (`no_fill_window`, `settlement_failure`) are
        measured against buys, so a sell leg carrying one would warn about someone else's trade; a
        cell warned only for those publishes nothing here.
    ThinSince:
      type: string
      format: date-time
      description: When the warning above was first raised. Present exactly when `tradability` is.
    # ------------ Primitives ----------------------------------------------
    SolAddress:
      type: string
      description: Solana base58 address.
      pattern: "^[1-9A-HJ-NP-Za-km-z]{32,44}$"
      example: 9aJ6jUyG7zG3yfPbsi5tFFqA1cnp7zCfL6pYfqyZP4qE

    EvmAddress:
      type: string
      description: Lowercased EVM address (server normalizes on parse).
      pattern: "^0x[a-fA-F0-9]{40}$"
      example: "0x742d35cc6634c0532925a3b844bc454e4438f44e"

    DecimalString:
      type: string
      description: Decimal number as a string to preserve full precision.

    UsdcHumanAmount:
      type: string
      description: USDC amount in human units, > 0, up to 6 fractional digits.
      pattern: '^(?:[1-9]\d*|0)(?:\.\d{1,6})?$'
      example: "100.50"

    SharesHumanAmount:
      type: string
      description: Share amount, > 0, up to 18 fractional digits.
      pattern: '^(?:[1-9]\d*|0)(?:\.\d{1,18})?$'
      example: "1.5"

    Ticker:
      type: string
      pattern: "^[A-Z][A-Z0-9.]{0,9}$"
      example: AAPL

    Chain:
      type: string
      enum: [sol, eth, robinhood, base]

    Protocol:
      type: string
      enum: [ondo, xstocks, robinhood, coinbase]

    SlippageBps:
      type: integer
      minimum: 0
      maximum: 10000
      description: |
        Maximum tolerated slippage in basis points. Each route validates against
        its own `[MIN, MAX]` window — out-of-range returns `400 invalid_slippage`
        with the active bounds.

    # ------------ Errors --------------------------------------------------
    SimpleError:
      type: object
      required: [error]
      properties:
        error: { type: string }
      additionalProperties: false

    SimpleErrorWithMessage:
      type: object
      required: [error, message]
      properties:
        error: { type: string }
        message: { type: string }
      additionalProperties: false

    InvalidRequestError:
      type: object
      required: [error, message]
      properties:
        error: { type: string, enum: [invalid_request] }
        message: { type: string }
      additionalProperties: false

    InvalidSlippageError:
      type: object
      required: [error, allowed_min_bps, allowed_max_bps]
      properties:
        error: { type: string, enum: [invalid_slippage] }
        allowed_min_bps: { type: integer }
        allowed_max_bps: { type: integer }
      additionalProperties: false

    OwnershipProofError:
      type: object
      required: [error]
      properties:
        error:
          type: string
          enum:
            - ownership_proof_invalid
            - ownership_proof_sol_invalid
            - ownership_proof_eth_invalid
            - ownership_proof_skewed
      additionalProperties: false

    NoRoutesError:
      type: object
      required: [error]
      properties:
        error: { type: string, enum: [no_routes] }
        min_notional_usdc:
          type: string
          description: |
            Present only when we have measured a minimum for this ticker and your
            order was below it — the actionable answer to a refusal that would
            otherwise carry no reason at all. Retry at or above this size.

            Read AFTER the venue refused, never before: this never causes a
            refusal, it only explains one.
        reason:
          type: string
          enum:
            [
              slippage_exceeded,
              amount_too_small,
              price_off_reference,
              reference_unavailable,
              no_price_feed,
              market_closed,
            ]
          description: |
            Present only when a strict majority of dropped cells share the same
            actionable reason; otherwise omitted. `reference_unavailable` is the
            exception — it describes the whole quote, not a majority of cells.

            `price_off_reference` covers both non-caller-tunable price refusals:
            an outright refusal against the asset's reference market price (a
            route existed but priced too far from it to be safe to fill), and a
            dropped cell whose route price impact exceeded the absolute backstop.
            Unlike `slippage_exceeded`, neither cap is caller-tunable, so raising
            `max_slippage_bps` will not clear them — do not prompt for that.

            The cap tracks how live the reference is rather than the clock:
            outside the regular session the check may measure against a live
            market price instead of the previous close. The reference it used is
            internal and is NOT the `tradfi_reference` on a successful quote — do
            not reconstruct the check from that field. Treat the refusal as
            transient: neither a smaller size nor a higher `max_slippage_bps`
            clears it, but a re-quote 30–60s later may.

            `market_closed` — the listing's trading session is shut (weekend,
            overnight for a regular-hours-only listing, or a US market holiday).
            Refused **before** signing, so nothing was committed. Not size- or
            slippage-tunable: resubmit when the session reopens. Sessions are
            per-listing, and some listings close **per chain** rather than as a
            whole — so a `chain`-pinned request can be refused while another chain
            still serves the ticker. Retry unpinned, or on another chain from
            `available_chains`, before waiting out the session.

            `reference_unavailable` is distinct: no reference market price could
            be obtained for the asset at all, so the cap above could not be
            evaluated and the quote is refused rather than served unchecked.
            Permanent for an asset our market-data provider does not cover;
            transient during a provider outage — a negative lookup is cached
            for at most ~30s, so a retry after that clears it. Retrying is only
            useful in the latter case, and cannot be distinguished from the
            response — do not retry in a tight loop.
      additionalProperties: false

    LegAlreadySubmittedError:
      type: object
      required: [error, tx_hash, order_hash]
      properties:
        error: { type: string, enum: [leg_already_submitted] }
        message: { type: string }
        tx_hash: { type: [string, "null"] }
        order_hash: { type: [string, "null"] }
      additionalProperties: false

    # ------------ Ownership proof ----------------------------------------
    OwnershipProof:
      type: object
      required: [issued_at]
      properties:
        sol_signature:
          type: string
          description: |
            Base64 raw Ed25519 signature over the canonical challenge. Required
            when `sol_wallet` is present in the same request.
          minLength: 1
          maxLength: 150
        eth_signature:
          type: string
          description: |
            `0x`-prefixed 65-byte EIP-191 `personal_sign` signature. Required when
            `eth_wallet` is present in the same request.
          minLength: 1
          maxLength: 150
        issued_at:
          type: integer
          description: |
            Unix seconds. Server accepts up to **300 s past / 30 s future** —
            outside that window → `401 ownership_proof_skewed`.
      additionalProperties: false

    # ------------ Stocks --------------------------------------------------
    StockProtocolListing:
      type: object
      required: [sol_address, eth_address, share_multiplier, token_ticker]
      properties:
        sol_address: { type: [string, "null"] }
        eth_address: { type: [string, "null"] }
        share_multiplier: { type: [string, "null"] }
        sol_min_trade_size_usd:
          type: integer
          description: >
            Per-cell measured minimum for this protocol on Solana, in whole USDC.
            Same semantics as the ticker-level `min_trade_size_usd`: **absent means
            no minimum is known**, never zero, and it is advisory rather than a gate.
            Present only when the probe has measured this specific cell recently.
        eth_min_trade_size_usd:
          type: integer
          description: Per-cell measured minimum for this protocol on Ethereum. See `sol_min_trade_size_usd`.
        sol_tradability:
          $ref: '#/components/schemas/Tradability'
          description: >
            Per-cell probe warning for this protocol on Solana. `thin` — the cell fills, but not at
            every size below `sol_min_trade_size_usd`. `untradable` — nothing filled at any size
            across a full measurement window, and no minimum accompanies it. **Neither value
            disables the cell**; quotes are still accepted for both. Absent means unmeasured or
            unwarned — never healthy-with-value-null. Chain-suffixed because this block spans a
            Solana and an Ethereum cell.
        sol_warn_reason:
          $ref: '#/components/schemas/WarnReason'
          description: >
            Why the Solana cell is warned, strongest evidence first. Absent when unwarned, or when
            the warn predates reason recording. Not stable over a cell's lifetime — a `low_volume`
            warn that later kills a real order flips to `settlement_failure`.
        sol_thin_since:
          $ref: '#/components/schemas/ThinSince'
          description: When the Solana warning was first raised. Present exactly when `sol_tradability` is.
        eth_tradability:
          $ref: '#/components/schemas/Tradability'
          description: Per-cell probe warning for this protocol on Ethereum. See `sol_tradability`.
        eth_warn_reason:
          $ref: '#/components/schemas/WarnReason'
          description: Why the Ethereum cell is warned, strongest evidence first. See `sol_warn_reason`.
        eth_thin_since:
          $ref: '#/components/schemas/ThinSince'
          description: When the Ethereum warning was first raised. Present exactly when `eth_tradability` is.
        token_ticker:
          type: [string, "null"]
          description: Issuer's wrapped-token symbol (`<TICKER>on` Ondo, `<TICKER>x` xStocks). Null when not listed.

    RobinhoodListing:
      type: object
      description: >
        Robinhood Chain (4663) venue listing. Single-chain, so one `address`
        instead of the sol/eth pair; token decimals stay internal.
      required: [address, share_multiplier, token_ticker]
      properties:
        address: { type: [string, "null"] }
        share_multiplier: { type: [string, "null"] }
        min_trade_size_usd:
          type: integer
          description: >
            Measured minimum for this single-cell venue, in whole USDC. **Absent means
            no minimum is known**, never zero, and it is advisory rather than a gate.
        tradability:
          $ref: '#/components/schemas/Tradability'
          description: >
            Probe warning for this single-cell venue. `thin` — the cell fills, but not at every
            size below `min_trade_size_usd`. `untradable` — nothing filled at any size across a
            full measurement window, and no minimum accompanies it. **Neither value disables the
            cell**; quotes are still accepted for both. Absent means unmeasured or unwarned —
            never healthy-with-value-null. Bare rather than chain-suffixed: this block names
            exactly one cell.
        warn_reason:
          $ref: '#/components/schemas/WarnReason'
          description: >
            Why the cell is warned, strongest evidence first. Absent when unwarned, or when the
            warn predates reason recording. Not stable over a cell's lifetime — a `low_volume`
            warn that later kills a real order flips to `settlement_failure`.
        thin_since:
          $ref: '#/components/schemas/ThinSince'
        token_ticker:
          type: [string, "null"]
          description: Bare stock symbol (Robinhood Stock Tokens carry no on/x suffix). Null when not listed.

    TradfiBlock:
      type: object
      required:
        [
          current_price_usd,
          change_24h_pct,
          market_cap_usd,
          pe_ttm,
          volume_shares,
          volume_1d_usd,
          as_of,
        ]
      properties:
        current_price_usd: { $ref: "#/components/schemas/DecimalString" }
        change_24h_pct: { $ref: "#/components/schemas/DecimalString" }
        market_cap_usd: { $ref: "#/components/schemas/DecimalString" }
        pe_ttm:
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
        volume_shares:
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
          description:
            Shares traded in the current session — not a trailing average and not
            USD (contrast onchain volume_24h_usd). Null when the feed omits it.
        volume_1d_usd:
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
          description:
            Session dollar volume — volume_shares × current_price_usd, rounded to
            whole dollars, so it is directly comparable to the onchain
            volume_24h_usd. Null exactly when volume_shares is null.
        as_of:
          type: integer
          description: Exchange-side last-tick timestamp (unix seconds).

    StockOnchainAggregate:
      type: object
      required: [avg_share_price_usd, premium_vs_tradfi_pct, volume_24h_usd]
      properties:
        avg_share_price_usd:
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
        premium_vs_tradfi_pct:
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
        volume_24h_usd: { $ref: "#/components/schemas/DecimalString" }

    StockOnchainProtocolLeg:
      type: object
      required: [share_price_usd, premium_vs_tradfi_pct, volume_24h_usd]
      properties:
        share_price_usd:
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
        premium_vs_tradfi_pct:
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
        volume_24h_usd: { $ref: "#/components/schemas/DecimalString" }

    StockOnchainPerProtocol:
      type: object
      required: [ondo, xstocks, robinhood, coinbase]
      properties:
        ondo:
          oneOf:
            - { $ref: "#/components/schemas/StockOnchainProtocolLeg" }
            - { type: "null" }
        xstocks:
          oneOf:
            - { $ref: "#/components/schemas/StockOnchainProtocolLeg" }
            - { type: "null" }
        robinhood:
          oneOf:
            - { $ref: "#/components/schemas/StockOnchainProtocolLeg" }
            - { type: "null" }
        coinbase:
          description: >-
            Coinbase B20 on Base (8453). Carries the same supply gate as the listing —
            an unminted cell prices `null`.
          oneOf:
            - { $ref: "#/components/schemas/StockOnchainProtocolLeg" }
            - { type: "null" }

    StockTickerItem:
      type: object
      required: [ticker, name, available_chains, ondo, xstocks, robinhood, coinbase]
      properties:
        ticker: { $ref: "#/components/schemas/Ticker" }
        name: { type: string }
        available_chains:
          type: array
          items: { $ref: "#/components/schemas/Chain" }
        min_trade_size_usd:
          type: integer
          description: |
            Smallest order size, in whole USDC, we have measured filling for this
            ticker on any venue — the cheapest across cells, since a buy routes to
            whichever cell can serve it.

            **Absent means no minimum is known**, not that there is none: the
            listing has not been measured recently enough to say. Fall back to the
            $3 product floor. Never treat an absent field as `0`.

            Advisory. A quote below this is still accepted and still goes to the
            venue; it is simply likely to be refused. Measured in-session, and
            published unchanged outside it as a valid lower bound — off-session
            minimums are higher, never lower.
        tradability:
          $ref: '#/components/schemas/Tradability'
          description: |
            Ticker-level roll-up of the per-cell warnings below. Present only when
            **every** measured cell for this ticker is warned — not when any one is.
            A ticker with one healthy measured cell is healthy somewhere and carries
            nothing, so a single dead venue can never label a live listing.

            The word follows the cheapest floor, exactly as it does per cell. `thin`
            — every measured cell is warned and `min_trade_size_usd` is published
            alongside. `untradable` — every measured cell is warned and none filled
            at any size, so no minimum accompanies it. Cells the probe has not
            measured are not counted either way, so `untradable` is a statement about
            the measured surface, not proof that no venue can fill.

            **Neither value means the listing is disabled.** Quotes are still
            accepted for both; this is guidance to show a user before they try,
            not a gate.
        warn_reason:
          $ref: '#/components/schemas/WarnReason'
          description: |
            Why the ticker is warned, strongest evidence first: a real order that
            terminally expired, then the venue stating it holds no price for the
            pair, then a full window of quiet auctions with no fill, then a
            low-volume proxy.

            Present only alongside `tradability`; absent when the warn predates
            reason recording — that is "reason not recorded", never "no reason".
            Rolled up as the **strongest** reason across the warned cells, not the
            cheapest cell's, and not stable over a listing's lifetime: the value
            changes when stronger evidence arrives. Read the per-cell
            `sol_warn_reason` / `eth_warn_reason` / `warn_reason` on the venue
            blocks below before committing to a cell.

            There is no ticker-level `thin_since` — one stamp cannot date several
            cells' warnings; take it per cell.
        ondo: { $ref: "#/components/schemas/StockProtocolListing" }
        xstocks: { $ref: "#/components/schemas/StockProtocolListing" }
        robinhood: { $ref: "#/components/schemas/RobinhoodListing" }
        coinbase: { $ref: "#/components/schemas/CoinbaseListing" }

    CoinbaseListing:
      type: object
      description: >
        Coinbase B20 venue listing on Base (8453). Single-chain, so one `address`
        instead of the sol/eth pair; token decimals stay internal.

        **Supply-gated.** Coinbase deployed its B20 tokens unminted, and a cell stays
        hidden until real supply exists: `address` and `token_ticker` are `null`, `base`
        is omitted from `available_chains`, and a quote returns `422 no_routes`. The
        listed set therefore grows over time — read this endpoint rather than hardcoding.
        `min_trade_size_usd` and the warn trio (`tradability`, `warn_reason`,
        `thin_since`) are gated with them, so a hidden cell never publishes a minimum
        or a warning for a venue the same response says does not exist.
      required: [address, share_multiplier, token_ticker]
      properties:
        address: { type: [string, "null"] }
        share_multiplier: { type: [string, "null"] }
        min_trade_size_usd:
          type: integer
          description: >
            Measured minimum for this single-cell venue, in whole USDC. **Absent means
            no minimum is known**, never zero, and it is advisory rather than a gate.
        tradability:
          $ref: '#/components/schemas/Tradability'
          description: >
            Probe warning for this single-cell venue. `thin` — the cell fills, but not at every
            size below `min_trade_size_usd`. `untradable` — nothing filled at any size across a
            full measurement window, and no minimum accompanies it. **Neither value disables the
            cell**; quotes are still accepted for both. Absent means unmeasured or unwarned —
            never healthy-with-value-null. Bare rather than chain-suffixed: this block names
            exactly one cell.
        warn_reason:
          $ref: '#/components/schemas/WarnReason'
          description: >
            Why the cell is warned, strongest evidence first. Absent when unwarned, or when the
            warn predates reason recording. Not stable over a cell's lifetime — a `low_volume`
            warn that later kills a real order flips to `settlement_failure`.
        thin_since:
          $ref: '#/components/schemas/ThinSince'
        token_ticker:
          type: [string, "null"]
          description: Bare stock symbol (B20 tokens carry no on/x suffix). Null when not listed.

    StockListItem:
      allOf:
        - $ref: "#/components/schemas/StockTickerItem"
        - type: object
          required: [tradfi, onchain]
          properties:
            tradfi:
              oneOf:
                - { $ref: "#/components/schemas/TradfiBlock" }
                - { type: "null" }
            onchain:
              oneOf:
                - { $ref: "#/components/schemas/StockOnchainAggregate" }
                - { type: "null" }

    StockPriceItem:
      type: object
      required: [ticker, tradfi, onchain]
      properties:
        ticker: { $ref: "#/components/schemas/Ticker" }
        tradfi:
          oneOf:
            - { $ref: "#/components/schemas/TradfiBlock" }
            - { type: "null" }
        onchain: { $ref: "#/components/schemas/StockOnchainPerProtocol" }

    StocksListResponse:
      type: object
      required: [stocks]
      properties:
        stocks:
          type: array
          items: { $ref: "#/components/schemas/StockListItem" }

    StocksTickersResponse:
      type: object
      required: [tickers]
      properties:
        tickers:
          type: array
          items: { $ref: "#/components/schemas/StockTickerItem" }

    StockPricesResponse:
      type: object
      required: [prices]
      properties:
        prices:
          type: array
          items: { $ref: "#/components/schemas/StockPriceItem" }

    # ------------ Quote payloads -----------------------------------------
    SignablePayload:
      type: object
      required: [type]
      discriminator:
        propertyName: type
        mapping:
          solana_versioned_tx: "#/components/schemas/SignableSolanaTx"
          evm_eip712_typed_data: "#/components/schemas/SignableEvmTypedData"
      oneOf:
        - $ref: "#/components/schemas/SignableSolanaTx"
        - $ref: "#/components/schemas/SignableEvmTypedData"

    SignableSolanaTx:
      type: object
      required: [type, tx_base64]
      properties:
        type: { type: string, enum: [solana_versioned_tx] }
        tx_base64:
          type: string
          description: Base64 unsigned Solana `VersionedTransaction`.
      additionalProperties: false

    SignableEvmTypedData:
      type: object
      description: >-
        EIP-712 typed data for a gasless EVM order — carried by **every** EVM leg: eth
        (Ethereum mainnet), robinhood (Robinhood Chain / 4663) and base (Base / 8453), which
        all share the same sign-only model. Exactly one payload per leg; sign it with
        `eth_signTypedData_v4` and return the signature to `/trade/submit`. A resolver settles
        the signed order on-chain, so the caller broadcasts nothing and pays no native gas.
      required: [type, typed_data]
      properties:
        type: { type: string, enum: [evm_eip712_typed_data] }
        typed_data:
          type: object
          description: EIP-712 typed-data object for the gasless EVM order; sign with `eth_signTypedData_v4`.
          additionalProperties: true
      additionalProperties: false

    TradfiReference:
      type: object
      required: [price_usd, market_status, as_of]
      properties:
        price_usd: { $ref: "#/components/schemas/DecimalString" }
        market_status: { type: string, enum: [open, closed] }
        as_of: { type: integer, description: Unix seconds. }

    CostBreakdownBps:
      type: object
      description: >-
        Fee + slippage breakdown in basis points, informational. These fees are already
        deducted from `estimated_output_*` (the net deliverable) and reflected in
        `price_usdc_per_share`. The deduction is provider-dependent — do NOT reconstruct a
        gross amount as `estimated_output / (1 − fees)`; use `estimated_output_*` as-is.
      # `price_impact_bps` is deliberately NOT required yet: the server always emits it, but making it
      # required is a breaking change for an integrator running a strict validator against this spec.
      # Flip it to required once partners have rolled forward.
      required: [treasures_fee_bps, dex_swap_fee_bps, estimated_slippage_bps]
      properties:
        treasures_fee_bps: { type: integer, description: Treasures' integrator fee. }
        dex_swap_fee_bps: { type: integer, description: Provider protocol + swap/execution fee. }
        estimated_slippage_bps:
          type: integer
          description: >-
            Execution tolerance — how far below the quote a fill may land. This is what
            `max_slippage_bps` bounds. On Solana it is 0 on a guaranteed-price or exact-orderbook
            fill; on EVM there is no separate tolerance signal, so it equals
            `price_impact_bps`.
        price_impact_bps:
          type: integer
          description: >-
            Adverse route price impact — what this size costs against available depth, 0 when
            favorable or unreported. Informational: it is NOT charged against `max_slippage_bps`
            on Solana, so a quote may be returned with `price_impact_bps` above your cap. Display
            it alongside the price. A structurally broken market is still refused, by a separate
            non-tunable ceiling, as 422 `no_routes` with reason `price_off_reference` — never
            `slippage_exceeded`, since raising your cap cannot clear it.
        slippage_vs_tradfi_bps:
          type: integer
          description: >-
            Signed; positive = unfavorable to you. Always present, since a 200 always carries a
            `tradfi_reference` to measure against.
      additionalProperties: false

    QuoteBuyLeg:
      type: object
      required:
        - quote_index
        - chain
        - protocol
        - price_usdc_per_share
        - estimated_output_shares
        - estimated_output_tokens
        - cost_breakdown_bps
      properties:
        quote_index: { type: integer, minimum: 0 }
        chain: { $ref: "#/components/schemas/Chain" }
        protocol: { $ref: "#/components/schemas/Protocol" }
        price_usdc_per_share: { $ref: "#/components/schemas/DecimalString" }
        estimated_output_shares: { $ref: "#/components/schemas/DecimalString" }
        estimated_output_tokens: { $ref: "#/components/schemas/DecimalString" }
        base_asset:
          type: string
          enum: [usdc, usdg]
          description: >-
            Base currency the caller spends — `usdc` on sol/eth legs, `usdg` on robinhood legs.
            Disambiguates the `_usdc`-named fields (`price_usdc_per_share`, `amount_usdc`) when
            the base is USDG, which shares USDC's 6-decimal scale.
        amount_base:
          allOf: [{ $ref: "#/components/schemas/DecimalString" }]
          description: Base amount spent, human-decimal — the base-asset alias of `amount_usdc`.
        cost_breakdown_bps: { $ref: "#/components/schemas/CostBreakdownBps" }
        signable_payloads:
          type: array
          minItems: 1
          description: Omitted on `quote_only` previews — the leg is non-executable.
          items: { $ref: "#/components/schemas/SignablePayload" }
        tradability:
          $ref: '#/components/schemas/Tradability'
          description: >
            Probe warning for **this leg's own cell** — an exact `(ticker, protocol, chain)` match,
            not a ticker roll-up. `thin` — the cell fills, but not at every size below its measured
            minimum. `untradable` — nothing filled at any size across a full measurement window.
            **Advisory, never a block**: the leg is still planned, priced and submittable, and there
            is no request param to exclude warned cells. Absent means unmeasured or unwarned — never
            healthy-with-value-null.
        warn_reason:
          $ref: '#/components/schemas/WarnReason'
          description: >
            Why the cell is warned, strongest evidence first. Absent when unwarned, or when the warn
            predates reason recording. Not stable over a cell's lifetime — a `low_volume` warn that
            later kills a real order flips to `settlement_failure`.
        thin_since:
          $ref: '#/components/schemas/ThinSince'

    QuoteSellLeg:
      type: object
      required:
        - quote_index
        - chain
        - protocol
        - shares_consumed
        - tokens_consumed
        - estimated_output_usdc
        - price_usdc_per_share
        - cost_breakdown_bps
        - signable_payloads
      properties:
        quote_index: { type: integer, minimum: 0 }
        chain: { $ref: "#/components/schemas/Chain" }
        protocol: { $ref: "#/components/schemas/Protocol" }
        shares_consumed: { $ref: "#/components/schemas/DecimalString" }
        tokens_consumed: { $ref: "#/components/schemas/DecimalString" }
        estimated_output_usdc: { $ref: "#/components/schemas/DecimalString" }
        price_usdc_per_share: { $ref: "#/components/schemas/DecimalString" }
        base_asset:
          type: string
          enum: [usdc, usdg]
          description: >-
            Base currency the caller receives — `usdc` on sol/eth legs, `usdg` on robinhood legs.
            Disambiguates the `_usdc`-named fields (`price_usdc_per_share`, `estimated_output_usdc`)
            when the base is USDG, which shares USDC's 6-decimal scale.
        amount_base:
          allOf: [{ $ref: "#/components/schemas/DecimalString" }]
          description: >-
            Base amount received, human-decimal — the base-asset alias of `estimated_output_usdc`
            (equal value, base-denominated).
        cost_breakdown_bps: { $ref: "#/components/schemas/CostBreakdownBps" }
        signable_payloads:
          type: array
          minItems: 1
          items: { $ref: "#/components/schemas/SignablePayload" }
        tradability:
          $ref: '#/components/schemas/Tradability'
          description: >
            Probe warning for **this leg's own cell**, filtered to the sell side. Same two words as
            on a buy leg, but published only when `warn_reason` is side-neutral (see below), so a
            sell leg carries all three keys or none. **Advisory, never a block** — nothing here
            refuses an exit. No `min_trade_size_usd` accompanies a sell anywhere on the API: it is a
            USD buy floor while a sell is denominated in shares.
        warn_reason:
          $ref: '#/components/schemas/SideNeutralWarnReason'
          description: >
            Why the cell is warned. **Sell legs carry only the two side-neutral reasons**:
            `low_volume` (a thin pool is a bad exit as surely as a bad entry) and `no_price_feed`
            (no feed is no feed, either direction). The two buy-sided reasons — `no_fill_window`
            (the measurement ladder quotes buys) and `settlement_failure` (recorded on buys only) —
            say nothing about an exit and are suppressed along with the whole trio, as is a warn
            whose reason was never recorded.
        thin_since:
          $ref: '#/components/schemas/ThinSince'

    QuoteBuyRequest:
      type: object
      required: [ticker, amount_usdc, max_slippage_bps, ownership_proof]
      properties:
        ticker: { $ref: "#/components/schemas/Ticker" }
        amount_usdc: { $ref: "#/components/schemas/UsdcHumanAmount" }
        chain:
          oneOf:
            - { $ref: "#/components/schemas/Chain" }
            - type: array
              items: { $ref: "#/components/schemas/Chain" }
              minItems: 1
              maxItems: 4
              uniqueItems: true
            - { type: "null" }
          description: >-
            One chain pins routing to it. An array (1–4, unique) auto-routes within those
            chains only — `["x"]` is identical to `"x"`; a member the ticker has no cell on
            is dropped, and an empty intersection is 422 no_routes. null/omitted = every
            chain the ticker lists.
        protocol:
          oneOf:
            - { $ref: "#/components/schemas/Protocol" }
            - { type: "null" }
        max_slippage_bps: { $ref: "#/components/schemas/SlippageBps" }
        sol_wallet:
          $ref: "#/components/schemas/SolAddress"
        eth_wallet:
          $ref: "#/components/schemas/EvmAddress"
        ownership_proof: { $ref: "#/components/schemas/OwnershipProof" }
        quote_only:
          type: boolean
          default: false
          description: |
            Price-only preview. When `true`, the quote is priced for a wallet that
            need not hold the funds, but the result is non-executable: `quote_id`,
            `expires_at`, and every leg's `signable_payloads` are omitted, nothing is
            persisted, and there is no `/quote/{quote_id}/status` to poll or anything
            to submit. `ownership_proof` is still required. Buy-only — sending it to
            `/quote/sell` is rejected as an unknown field.
      additionalProperties: false
      description: At least one of `sol_wallet` / `eth_wallet` is required, with the matching signature in `ownership_proof`.

    QuoteSellRequest:
      type: object
      required: [ticker, amount_shares, max_slippage_bps, ownership_proof]
      properties:
        ticker: { $ref: "#/components/schemas/Ticker" }
        amount_shares: { $ref: "#/components/schemas/SharesHumanAmount" }
        chain:
          oneOf:
            - { $ref: "#/components/schemas/Chain" }
            - type: array
              items: { $ref: "#/components/schemas/Chain" }
              minItems: 1
              maxItems: 4
              uniqueItems: true
            - { type: "null" }
          description: >-
            One chain pins routing to it. An array (1–4, unique) auto-routes within those
            chains only — `["x"]` is identical to `"x"`; a member the ticker has no cell on
            is dropped, and an empty intersection is 422 no_routes. null/omitted = every
            chain the ticker lists.
        protocol:
          oneOf:
            - { $ref: "#/components/schemas/Protocol" }
            - { type: "null" }
        max_slippage_bps: { $ref: "#/components/schemas/SlippageBps" }
        sol_wallet:
          $ref: "#/components/schemas/SolAddress"
        eth_wallet:
          $ref: "#/components/schemas/EvmAddress"
        ownership_proof: { $ref: "#/components/schemas/OwnershipProof" }
      additionalProperties: false
      description: At least one of `sol_wallet` / `eth_wallet` is required, with the matching signature in `ownership_proof`.

    QuoteBuyResponse:
      type: object
      required: [side, ticker, tradfi_reference, quotes]
      properties:
        quote_id:
          type: string
          description: Omitted on `quote_only` previews (no executable quote to submit).
        side: { type: string, enum: [buy] }
        ticker: { $ref: "#/components/schemas/Ticker" }
        expires_at:
          type: integer
          description: Unix seconds. Re-quote after this time. Omitted on `quote_only` previews.
        tradfi_reference:
          # Non-nullable since the fail-closed NAV gate: a quote that cannot be price-checked
          # against the reference is refused with 422 `reference_unavailable`, so a 200 always
          # carries one. (Distinct from the browse surface's `tradfi`/TradfiBlock, which stays
          # nullable — an asset with no reference price is still listed, just not quotable.)
          $ref: "#/components/schemas/TradfiReference"
        quotes:
          type: array
          items: { $ref: "#/components/schemas/QuoteBuyLeg" }

    QuoteSellResponse:
      type: object
      required:
        [quote_id, side, ticker, expires_at, tradfi_reference, quotes, totals]
      properties:
        quote_id: { type: string }
        side: { type: string, enum: [sell] }
        ticker: { $ref: "#/components/schemas/Ticker" }
        expires_at: { type: integer }
        tradfi_reference:
          # Non-nullable since the fail-closed NAV gate: a quote that cannot be price-checked
          # against the reference is refused with 422 `reference_unavailable`, so a 200 always
          # carries one. (Distinct from the browse surface's `tradfi`/TradfiBlock, which stays
          # nullable — an asset with no reference price is still listed, just not quotable.)
          $ref: "#/components/schemas/TradfiReference"
        quotes:
          type: array
          items: { $ref: "#/components/schemas/QuoteSellLeg" }
        totals:
          type: object
          required: [shares_total, usdc_total_estimated]
          properties:
            shares_total: { $ref: "#/components/schemas/DecimalString" }
            usdc_total_estimated: { $ref: "#/components/schemas/DecimalString" }

    # ------------ Quote status --------------------------------------------
    PublicLegStatus:
      type: string
      enum: [pending, completed, failed, broadcast_failed]

    AggregateStatus:
      type: string
      enum: [in_progress, completed, partial_failed, all_failed]

    PublicLeg:
      type: object
      required:
        - quote_index
        - trade_id
        - ticker
        - chain
        - protocol
        - side
        - tx_hash
        - order_hash
        - status
        - error_code
        - filled_shares
        - filled_tokens
        - filled_usdc
        - last_synced_at
      properties:
        quote_index: { type: integer, minimum: 0 }
        trade_id: { type: string }
        ticker: { $ref: "#/components/schemas/Ticker" }
        chain: { $ref: "#/components/schemas/Chain" }
        protocol: { $ref: "#/components/schemas/Protocol" }
        side: { type: string, enum: [buy, sell] }
        tx_hash: { type: [string, "null"] }
        order_hash: { type: [string, "null"] }
        status: { $ref: "#/components/schemas/PublicLegStatus" }
        error_code: { type: [string, "null"] }
        filled_shares: { $ref: "#/components/schemas/DecimalString" }
        filled_tokens: { $ref: "#/components/schemas/DecimalString" }
        filled_usdc: { $ref: "#/components/schemas/DecimalString" }
        last_synced_at: { type: integer }

    QuoteStatusResponse:
      type: object
      required: [quote_id, aggregate_status, is_cached, legs]
      properties:
        quote_id: { type: string }
        aggregate_status: { $ref: "#/components/schemas/AggregateStatus" }
        is_cached:
          type: boolean
          description: True when served from the 10 s in-progress cache; false on DB-fresh reads and all terminal aggregates.
        legs:
          type: array
          items: { $ref: "#/components/schemas/PublicLeg" }

    # ------------ Trade submit --------------------------------------------
    SignedSolanaPayload:
      type: object
      required: [type, signed_tx_base64]
      properties:
        type: { type: string, enum: [solana_versioned_tx] }
        signed_tx_base64:
          type: string
          minLength: 1
          maxLength: 2048
          description: Base64 fully-signed Solana `VersionedTransaction`.
      additionalProperties: false

    SignedEvmPayload:
      type: object
      description: >-
        Signed gasless EVM order — the caller's EIP-712 signature over the quote leg's
        typed data. Used by **every** EVM leg: eth (mainnet), robinhood (Robinhood Chain /
        4663) and base (Base / 8453). The server relays the signed order to that chain's own
        resolver network; the caller never broadcasts an on-chain tx.
      required: [type, signature]
      properties:
        type: { type: string, enum: [evm_eip712_signature] }
        signature:
          type: string
          minLength: 1
          maxLength: 150
          description: "0x-prefixed EIP-712 EOA signature (132 chars)."
      additionalProperties: false

    SignedPayload:
      oneOf:
        - $ref: "#/components/schemas/SignedSolanaPayload"
        - $ref: "#/components/schemas/SignedEvmPayload"
      discriminator:
        propertyName: type
        mapping:
          solana_versioned_tx: "#/components/schemas/SignedSolanaPayload"
          evm_eip712_signature: "#/components/schemas/SignedEvmPayload"

    SignedLeg:
      type: object
      required: [quote_index, signed_payloads]
      properties:
        quote_index: { type: integer, minimum: 0 }
        signed_payloads:
          type: array
          minItems: 1
          items: { $ref: "#/components/schemas/SignedPayload" }
      additionalProperties: false

    TradeSubmitRequest:
      type: object
      required: [quote_id, signed]
      properties:
        quote_id: { type: string, minLength: 1 }
        signed:
          type: array
          minItems: 1
          items: { $ref: "#/components/schemas/SignedLeg" }
      additionalProperties: false

    LegResult:
      type: object
      required: [quote_index, trade_id, status, tx_hash, order_hash, error_code]
      properties:
        quote_index: { type: integer, minimum: 0 }
        trade_id: { type: string }
        status:
          type: string
          enum:
            [broadcast, broadcast_unknown, completed, failed, broadcast_failed]
        tx_hash: { type: [string, "null"] }
        order_hash: { type: [string, "null"] }
        error_code: { type: [string, "null"] }

    FailedLeg:
      type: object
      required: [quote_index, error_code]
      properties:
        quote_index: { type: integer, minimum: 0 }
        error_code: { type: string, enum: [internal_error] }

    TradeSubmitResponse:
      type: object
      required: [results, failed_legs]
      properties:
        results:
          type: array
          items: { $ref: "#/components/schemas/LegResult" }
        failed_legs:
          type: array
          description: Empty on the full-success path; populated only when a partial broadcast hit an invariant break.
          items: { $ref: "#/components/schemas/FailedLeg" }

    # ------------ Bridge --------------------------------------------------
    BridgeChain:
      type: string
      enum: [sol, eth]

    BridgeQuoteRequest:
      type: object
      required:
        - from_chain
        - to_chain
        - amount_usdc
        - max_slippage_bps
        - sol_wallet
        - eth_wallet
        - ownership_proof
      properties:
        from_chain: { $ref: "#/components/schemas/BridgeChain" }
        to_chain: { $ref: "#/components/schemas/BridgeChain" }
        amount_usdc:
          allOf:
            - $ref: "#/components/schemas/UsdcHumanAmount"
            - description: Capped at the server-configured `BRIDGE_MAX_AMOUNT_USDC`.
        max_slippage_bps: { $ref: "#/components/schemas/SlippageBps" }
        sol_wallet: { $ref: "#/components/schemas/SolAddress" }
        eth_wallet: { $ref: "#/components/schemas/EvmAddress" }
        ownership_proof:
          allOf:
            - $ref: "#/components/schemas/OwnershipProof"
            - description: Both `sol_signature` and `eth_signature` are mandatory on this endpoint.
      additionalProperties: false

    BridgeCostBreakdownBps:
      type: object
      required: [swap_slippage_bps, gas_fee_bps, bridge_fee_bps, total_bps]
      properties:
        swap_slippage_bps: { type: integer }
        gas_fee_bps: { type: integer }
        bridge_fee_bps: { type: integer }
        total_bps: { type: integer }

    BridgeCostBreakdownUsdc:
      type: object
      required: [swap_slippage_usdc, gas_fee_usdc, bridge_fee_usdc, total_usdc]
      properties:
        swap_slippage_usdc: { $ref: "#/components/schemas/DecimalString" }
        gas_fee_usdc: { $ref: "#/components/schemas/DecimalString" }
        bridge_fee_usdc: { $ref: "#/components/schemas/DecimalString" }
        total_usdc: { $ref: "#/components/schemas/DecimalString" }

    BridgeSignableEvmPayload:
      type: object
      required: [type, from, tx_base64, tx_hex, approval_spender]
      properties:
        type: { type: string, enum: [evm_eip1559_tx] }
        from: { $ref: "#/components/schemas/EvmAddress" }
        tx_base64: { type: string }
        tx_hex: { type: string }
        approval_spender:
          oneOf:
            - { $ref: "#/components/schemas/EvmAddress" }
            - { type: "null" }
          description: |
            ERC-20 spender to approve USDC to before broadcasting. Null when the
            calldata needs no allowance.

    BridgeSignableSolanaPayload:
      type: object
      required: [type, tx_base64, blockhash, last_valid_block_height]
      properties:
        type: { type: string, enum: [solana_versioned_tx] }
        tx_base64: { type: string }
        blockhash: { type: string }
        last_valid_block_height: { type: integer }

    BridgeSignablePayload:
      oneOf:
        - $ref: "#/components/schemas/BridgeSignableEvmPayload"
        - $ref: "#/components/schemas/BridgeSignableSolanaPayload"
      discriminator:
        propertyName: type
        mapping:
          evm_eip1559_tx: "#/components/schemas/BridgeSignableEvmPayload"
          solana_versioned_tx: "#/components/schemas/BridgeSignableSolanaPayload"

    BridgeQuoteResponse:
      type: object
      required:
        - bridge_quote_id
        - expires_at
        - amount_in_usdc
        - estimated_amount_out_usdc
        - max_slippage_bps
        - cost_breakdown_bps
        - cost_breakdown_usdc
        - signable_payload
      properties:
        bridge_quote_id:
          type: string
          pattern: "^brq_[A-Za-z0-9_-]{21}$"
        expires_at: { type: integer }
        amount_in_usdc: { $ref: "#/components/schemas/UsdcHumanAmount" }
        estimated_amount_out_usdc:
          { $ref: "#/components/schemas/DecimalString" }
        max_slippage_bps: { type: integer }
        cost_breakdown_bps:
          { $ref: "#/components/schemas/BridgeCostBreakdownBps" }
        cost_breakdown_usdc:
          { $ref: "#/components/schemas/BridgeCostBreakdownUsdc" }
        signable_payload: { $ref: "#/components/schemas/BridgeSignablePayload" }

    BridgeStatusResponse:
      type: object
      required:
        [
          bridge_quote_id,
          status,
          source_tx_hash,
          destination_tx_hash,
          updated_at,
        ]
      properties:
        bridge_quote_id: { type: string }
        status:
          type: string
          enum: [pending, completed, failed]
        source_tx_hash: { type: [string, "null"] }
        destination_tx_hash: { type: [string, "null"] }
        updated_at: { type: integer }

    # ------------ Portfolio ----------------------------------------------
    PortfolioPosition:
      type: object
      required:
        - ticker
        - token_ticker
        - chain
        - protocol
        - token_address
        - tokens
        - shares
        - usd_per_token
        - usd_per_share
        - usd_value
        - shares_internal_only
        - avg_entry_price_per_share
        - unrealized_pnl
      properties:
        ticker: { $ref: "#/components/schemas/Ticker" }
        token_ticker: { type: string }
        chain: { $ref: "#/components/schemas/Chain" }
        protocol: { $ref: "#/components/schemas/Protocol" }
        token_address: { type: string }
        tokens: { $ref: "#/components/schemas/DecimalString" }
        shares:
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
        usd_per_token:
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
        usd_per_share:
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
        usd_value:
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
        shares_internal_only:
          description: >-
            Equity shares acquired via Treasures and still held (internal lot).
            Populated only with `source=internal`; null in `all` mode and when the
            cell has no share multiplier.
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
        avg_entry_price_per_share:
          description: >-
            Weighted-average cost basis per share of the internal lot. Populated only
            with `source=internal`; null otherwise.
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
        unrealized_pnl:
          description: >-
            internal_tokens × usd_per_token − internal cost. Populated only with
            `source=internal` and when a spot price exists; null otherwise.
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
        tradability:
          $ref: '#/components/schemas/Tradability'
          description: >-
            Probe warning for the exact `(ticker, protocol, chain)` cell this position names,
            filtered to the sell side. Published only when `warn_reason` is side-neutral (see
            below), so a position carries all three keys or none. **Advisory, never a block** —
            it never marks a holding unsellable. `min_trade_size_usd` is never published on a
            position: it is a USD buy floor while a sell is denominated in shares. Absent means
            unmeasured, unwarned, or buy-sided — never healthy-with-value-null.
        warn_reason:
          $ref: '#/components/schemas/SideNeutralWarnReason'
          description: >-
            Why the held cell is warned. **Positions carry only the two side-neutral reasons**:
            `low_volume` and `no_price_feed`. The buy-sided reasons (`no_fill_window`,
            `settlement_failure`) say nothing about an exit and suppress the whole trio, as does
            a warn whose reason was never recorded.
        thin_since:
          $ref: '#/components/schemas/ThinSince'

    PortfolioResponse:
      type: object
      required: [positions, usdc, usdg, partial, as_of, is_cached]
      properties:
        positions:
          type: array
          description: >-
            The sol/eth positions are read on-chain against the reconciler ledger.
            **The two single-cell venues — Robinhood Chain (4663) and Base (8453) — are
            only read for a wallet we already hold a ledger row for on that venue**: one
            that has traded there through this API and reported it via `/trade/submit`.
            Neither venue writes `client_balances`, so each read costs a live round-trip on
            every request; skipping it for wallets that have never touched the venue keeps
            it off the common path. The gate is **per (wallet, venue)** — trading on 4663
            does not open the Base read, and vice versa.

            Consequence: a holding on either venue that we hold no ledger row for — a direct
            transfer into your own EOA, or a trade you never reported — is **not** listed,
            and because nothing was read the response is **not** flagged `partial`. Report
            your trades on both venues to keep positions complete. **Cash is never gated**
            (`usdc.base`, `usdg.robinhood`), so a wallet holding only cash still reports it.
          items: { $ref: "#/components/schemas/PortfolioPosition" }
        usdc:
          type: object
          description: >-
            Idle USDC per chain. ⚠ **`base` is Base-native USDC on 8453 — a
            DIFFERENT contract from mainnet USDC.** It is read from the caller's own 8453 EOA
            (keyed on `eth_wallet`) through its own 30 s snapshot that a settled trade
            invalidates, exactly like `usdg.robinhood` — not from the sol/eth reconciler.
            A failed read is never cached. `base` is `"0"` when no `eth_wallet` is supplied,
            no B20 cell is listed in the catalog, or the 8453 read fails.
          required: [sol, eth, base]
          properties:
            sol: { $ref: "#/components/schemas/DecimalString" }
            eth: { $ref: "#/components/schemas/DecimalString" }
            base: { $ref: "#/components/schemas/DecimalString" }
        usdg:
          type: object
          description: >-
            Base-currency cash on Robinhood Chain (4663) — the venue's USDG, the 4663
            analog of `usdc`. Read from the caller's own 4663 EOA (keyed on `eth_wallet`)
            through a 30 s snapshot that a settled trade invalidates, so a post-trade read
            reflects the new cash rather than waiting out the TTL. A failed read is never
            cached. `"0"` when no `eth_wallet` is supplied, the Robinhood venue is dormant,
            or the 4663 read fails.
          required: [robinhood]
          properties:
            robinhood: { $ref: "#/components/schemas/DecimalString" }
        partial:
          type: boolean
          description: >-
            `true` when a balance read failed on this pass, so `positions` omits cells the
            wallet may hold and any sum over `usd_value` undercounts. Covers **all three**
            position sources: an unreadable sol/eth cell, and an unreadable cell on either
            single-cell venue (Robinhood Chain 4663 or Base 8453). Cash is not covered —
            `usdc`/`usdg` fault-isolate to `"0"` independently, since a failed read there is
            indistinguishable from a real zero.
            Retry for a complete answer; the response is otherwise a normal 200. May be `true`
            alongside `is_cached: true` — the cells were unreadable when the snapshot was taken.
        as_of:
          type: integer
          description: >-
            Unix seconds — when this snapshot was actually computed, so it is always the
            true age of the data. Reads are served from a snapshot that is refreshed in the
            background once it passes 30 s and recomputed inline past 5 minutes, so `as_of`
            can trail the request by **up to 5 minutes**. A settled trade invalidates the
            snapshot, so a post-trade read always recomputes rather than replaying a
            pre-trade view. Check `as_of` if your use case needs a tighter bound.
        is_cached:
          type: boolean
          description: >-
            `true` when the response was served from an existing snapshot rather than a
            fresh on-chain read. Says nothing about how old it is — use `as_of` for that.

    # ------------ Trades --------------------------------------------------
    TradeEntry:
      type: object
      required:
        - trade_id
        - source
        - side
        - ticker
        - token_ticker
        - chain
        - protocol
        - tx_hash
        - order_hash
        - tokens
        - shares
        - usdc_amount
        - usd_per_share
        - avg_entry_price_per_share
        - realized_pnl
        - submitted_at
        - status
      properties:
        trade_id: { type: string }
        source: { type: string, enum: [internal, external] }
        side:
          oneOf:
            - { type: string, enum: [buy, sell] }
            - { type: "null" }
        ticker: { $ref: "#/components/schemas/Ticker" }
        token_ticker: { type: string }
        chain: { $ref: "#/components/schemas/Chain" }
        protocol: { $ref: "#/components/schemas/Protocol" }
        tx_hash: { type: [string, "null"] }
        order_hash: { type: [string, "null"] }
        tokens: { $ref: "#/components/schemas/DecimalString" }
        shares: { $ref: "#/components/schemas/DecimalString" }
        usdc_amount:
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
        usd_per_share:
          description: >-
            This row's settled execution price (usdc_amount / shares). Populated only with
            `source=internal` on completed rows; null in `all` mode, on non-completed
            (in-flight/failed/external) rows, and when usdc_amount is null.
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
        avg_entry_price_per_share:
          description: >-
            Running internal weighted-average cost basis per share at this row.
            Populated only with `source=internal`; null on non-internal rows.
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
        realized_pnl:
          description: >-
            Realized P&L for a closing internal sell — (px − avg_entry) × closed
            shares, gross of fees (Hyperliquid closedPnl parity). Populated only with
            `source=internal`; null on buys, oversell-uncovered, and non-internal rows.
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
        submitted_at: { type: integer }
        status:
          type: string
          enum: [completed, broadcast, failed, external]

    TradesResponse:
      type: object
      required: [trades, next_offset]
      properties:
        trades:
          type: array
          items: { $ref: "#/components/schemas/TradeEntry" }
        next_offset:
          oneOf:
            - { type: integer }
            - { type: "null" }
          description: Pass back as `offset` to fetch the next page; `null` when there are no more rows.

    SettlementToken:
      type: object
      additionalProperties: false
      required: [address, symbol, name, price_usd, price_usd_per_share]
      properties:
        address:
          oneOf:
            - { type: string }
            - { type: "null" }
          description: >-
            Mint (Solana) or contract address (EVM) of this leg's token. `null` in the rare
            case where the catalog entry for the ticker is unavailable — the trade is still
            returned, since omitting a settled fill would understate your volume.
        symbol:
          type: string
          description: Wrapped-token symbol, e.g. `AAPLon` / `AAPLx`, or `USDC` / `USDG`.
        name: { type: string }
        price_usd:
          type: string
          description: >-
            Realized execution price for this leg, derived from the fill itself — not a
            market quote. Quoted per unit of THIS leg's token, matching `amount`/`tokens`;
            see `price_usd_per_share` for the equity-denominated figure. `1` on the
            stablecoin leg, which is the accounting unit. Truncated to 12 decimal places.
        price_usd_per_share:
          oneOf:
            - { type: string }
            - { type: "null" }
          description: >-
            The same realized fill priced per equity share rather than per token —
            `amount_usd ÷ shares`, truncated to 12 decimal places. Prefer this when
            comparing against a market or tradfi reference: on the rebase venue (xStocks
            on Ethereum) `price_usd` is a price per conserved internal unit and so matches
            no market quote, while this figure is comparable across venues and chains.
            The two coincide wherever the share multiplier is 1. `null` on the stablecoin
            leg, which has no share denomination, and on the rare fill whose `shares`
            floor to zero.

    SettlementLeg:
      type: object
      additionalProperties: false
      required: [tx_hash, tx_link, chain, timestamp, amount, transfer_amount, tokens, token]
      properties:
        tx_hash:
          type: string
          description: On-chain hash. Identical on both legs — these are single-chain swaps.
        tx_link:
          oneOf:
            - { type: string }
            - { type: "null" }
          description: >-
            Block-explorer link, or `null` where no explorer is published for the chain
            (Robinhood Chain). The hash is still returned.
        chain: { $ref: "#/components/schemas/Chain" }
        timestamp:
          type: integer
          description: Settlement time, unix seconds.
        amount:
          type: string
          description: Raw integer base units of this leg's token.
        transfer_amount:
          oneOf:
            - { type: string }
            - { type: "null" }
          description: >-
            Raw integer base units as they appear in the on-chain transfer — the figure a
            block explorer renders. Equal to `amount` on every venue except xStocks on
            Ethereum, whose token rebases: there the contract emits BOTH a standard ERC-20
            `Transfer` (carrying this value) and a shares-transfer event (carrying
            `amount`, the conserved internal unit). Both are on-chain; they differ by the
            share multiplier, and an explorer shows only the first. Reconcile
            explorer-visible movement on this field and internal accounting on `amount`.

            The byte-exact match to an explorer is an EVM property: on Solana Token-2022
            ScaledUI cells the transfer instruction carries the value reported here, but
            some explorers render a display-scaled figure instead.

            This is the raw movement on THIS leg, not a gross notional. Whether
            `fee_costs` has already been netted out of the stablecoin leg is
            venue-dependent, so do not assume either way: on a buy it is the full amount
            spent; on an Ethereum/Robinhood sell the venue skims its fee from this leg, so
            the figure is already net and IS the wallet credit; on a Solana sell the
            referral fee is collected in a separate transfer, so the figure sits above the
            credit by the disclosed bps. Summing `transfer_amount + fee_costs` therefore
            does NOT give a consistent total across chains.

            `null` only for a rebasing trade settled before this field was recorded; no
            backfill is possible, so treat `null` as unknown, never as zero.
        tokens:
          type: string
          description: >-
            `amount` in human-readable units. Provided because the token's decimal
            precision is not part of this contract — do not hardcode a scale.
        token: { $ref: "#/components/schemas/SettlementToken" }

    SettlementFeeCost:
      type: object
      additionalProperties: false
      required: [name, percentage, amount_usd, included]
      properties:
        name:
          type: string
          enum: [treasures_fee, dex_fee]
          description: >-
            `treasures_fee` is our own take and is always present. `dex_fee` is the
            venue's take, net of ours, and is present only when it was recorded — trades
            settled before it was captured omit the entry rather than reporting a
            fabricated zero, so read its absence as unknown. A recorded `0` IS emitted and
            means the venue charged no fee.

            `dex_fee` covers the venue's FEE, not execution spread. A resolver's auction
            margin on an intent-based fill sits outside it, so `0.0000` means "no venue
            fee", not "no execution cost". To measure all-in cost, compare `amount_usd`
            against a reference price rather than summing this array.
        percentage:
          type: string
          description: Fee as a decimal fraction at 4 dp, e.g. `0.0025` for 25 bps.
        amount_usd:
          type: string
          description: >-
            The fee in the settlement currency, derived as `percentage` applied to the
            entry's `amount_usd` — not read back from the venue's own fee event. Treat it
            as a close estimate rather than a reconciled figure: the recorded settlement
            notional is already net of the fee on an Ethereum sell, and on a buy the fee
            is taken in the token received rather than in the settlement currency. Same
            caveat applies to reconstructing a gross notional from it. Both entries carry
            this caveat identically.
        included:
          type: boolean
          description: >-
            `true` when the fee was taken out of the swap rather than charged on top.

    SettlementEntry:
      type: object
      additionalProperties: false
      required:
        [
          trade_id,
          status,
          side,
          ticker,
          protocol,
          chain,
          from_address,
          to_address,
          recipient,
          timestamp,
          tx_hash,
          token_out_address,
          amount,
          amount_usd,
          shares,
          sending,
          receiving,
          fee_costs,
        ]
      properties:
        trade_id:
          type: string
          description: >-
            Stable id for this leg. One user-facing sell can fan out across several
            venues, producing several entries with distinct hashes.
        status:
          type: string
          enum: [DONE]
          description: Only settled trades are returned, so this is currently always `DONE`.
        side: { type: string, enum: [buy, sell] }
        ticker: { type: string }
        protocol: { $ref: "#/components/schemas/Protocol" }
        chain: { $ref: "#/components/schemas/Chain" }
        from_address:
          type: string
          description: The wallet that sent the input token. EVM addresses are EIP-55 checksummed.
        to_address:
          type: string
          description: The wallet that received the output token — the same wallet, for a swap.
        recipient:
          type: string
          description: Alias of `to_address`.
        timestamp:
          type: integer
          description: Settlement time, unix seconds. Mirrors `receiving.timestamp`.
        tx_hash: { type: string }
        token_out_address:
          oneOf:
            - { type: string }
            - { type: "null" }
          description: >-
[...]
