openapi: 3.1.0
info:
  title: Treasures Finance — B2B Public API
  version: v1
  license:
    name: Proprietary
  description: |
    Public B2B API for tokenized stock discovery, quoting and trade execution, USDC
    bridging across Solana and Ethereum, and portfolio + trade history reads.

    **Wire format.** All token amounts, USDC amounts, shares, prices and bps-derived
    decimals are JSON **strings** to avoid float drift. Integer fields
    (`expires_at`, `*_bps`, `quote_index`, timestamps in seconds) are JSON numbers.

    **Auth.** Only `POST /quote/buy`, `POST /quote/sell` and `POST /bridge/quote`
    require `ownership_proof` (wallet-key signature over a canonical challenge —
    see `OwnershipProof`). `POST /trade/submit` is gated by the per-leg signed
    payload itself. Three routes **require** an integrator API key in `X-API-Key`
    (see `IntegratorApiKey`) — `GET /settlements`, `POST /quote/preview` (which binds
    no wallet, so the key is what identifies the caller) and `GET /stocks/{ticker}`
    (whose profile, analyst, earnings and news blocks are served to contracted
    integrators only). Every other route may be called anonymously.

    **Integrator API keys are optional on every route but those three — and never
    ignored.** If you send `X-API-Key` on any route, a key beginning `tik_`/`trk_`
    is verified and a bad one is rejected rather than silently downgraded to
    anonymous:

    | Condition | Response |
    |---|---|
    | Malformed or unknown key | `401 invalid_api_key` |
    | Revoked key | `403 key_revoked` |
    | Your organisation is suspended | `403 integrator_suspended` |
    | Read-only (`trk_`) key on a non-reporting route | `403 insufficient_scope` |

    A **`trk_` reporting key reaches the reporting routes and nothing else.**
    Today that is exactly one route: `GET /settlements`. Everywhere else on this
    API it answers `403
    insufficient_scope`. That refusal is the point: it is what makes the key safe
    to hand to a third party for reporting. Use your `tik_` key for API access;
    it works on the reporting routes too. A credential for a different Treasures
    plane (e.g. a `twk_` wallet key) is not addressed to this API and is ignored,
    so those requests are served anonymously.

    **Rate limits.** Per-IP and per-(IP, wallet) sliding windows.
    Presenting a valid key adds a per-organisation bucket shared by all of your
    keys — a cross-IP aggregate bound, additive to the per-IP limits rather than a
    raised ceiling. Upstream 429s propagate as `502 provider_unavailable`.
servers:
  - url: https://api.treasures.io/public/v1
    description: Production

security: []

tags:
  - name: Stocks
    description: Catalog and live price discovery.
  - name: Quote
    description: Quote issuance and aggregate status polling.
  - name: Trade
    description: Atomic submission of signed quote legs.
  - name: Bridge
    description: Cross-chain USDC bridging.
  - name: Portfolio
    description: Wallet-scoped holdings, reconciled vs on-chain.
  - name: Trades
    description: Wallet-scoped trade history.
  - name: Settlements
    description: Your organisation's own settled trade ledger, for reporting.

paths:
  /stocks:
    get:
      operationId: listStocks
      tags: [Stocks]
      summary: List active tradable stocks (catalog + live enrichment)
      description: |
        Catalog with tradfi snapshot and onchain aggregate.
        Cached server-side for 30 s.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StocksListResponse"
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /stocks/tickers:
    get:
      operationId: listStockTickers
      tags: [Stocks]
      summary: List active tickers (no price enrichment)
      description: Catalog rows only. Cached server-side for 5 min — cheap to poll.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StocksTickersResponse"
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /stocks/prices:
    get:
      operationId: getStockPrices
      tags: [Stocks]
      summary: Live per-protocol prices for requested tickers
      parameters:
        - name: tickers
          in: query
          required: true
          description: |
            Comma-separated list, 1–50 tickers. Each item matches `^[A-Z0-9.-]{1,10}$`
            **case-insensitively** — server normalizes to uppercase before lookup.
          schema:
            type: string
            example: AAPL,NVDA
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StockPricesResponse"
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/ProviderUnavailable" }

  /stocks/{ticker}:
    get:
      operationId: getStockDetail
      tags: [Stocks]
      summary: Company / ticker details (integrator key required)
      description: |
        Everything the catalog knows about one ticker: profile (description, sector, industry,
        website, logo), listings per (protocol, chain), the B2B tradfi block, pre/post-market
        print, market session, analyst consensus and grades, next earnings, and the latest news.
        Every block is best-effort and degrades to `null` on its own. Requires `X-API-Key`
        (a general `tik_` key; reporting keys are refused). Cached 60 s.

        There is deliberately **no `onchain` block** on this route — for per-protocol on-chain
        prices call `GET /stocks/prices`.

        This route takes no query parameters: any is a 400, as on the three sibling stocks routes.
      security:
        - IntegratorApiKey: []
      parameters:
        - name: ticker
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ticker" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StockDetailResponse" }
              examples:
                aapl:
                  summary: US large-cap during the regular session
                  description: >-
                    Illustrative values. `exchange`, `exchange_country` and `data_delay` are present
                    because the venue resolved; `display_ticker` is absent because a US row's bare
                    `ticker` is already the display form. `extended_hours` is null during the regular
                    session.
                  value:
                    ticker: AAPL
                    name: Apple Inc.
                    description: Apple designs, manufactures and markets smartphones, personal computers, tablets, wearables and accessories, and sells related services.
                    sector: Technology
                    industry: Consumer Electronics
                    website: https://www.apple.com
                    logo_url: https://assets.treasures.io/logos/AAPL.png
                    available_chains: [sol, eth, robinhood, base]
                    exchange: NASDAQ
                    exchange_country: US
                    data_delay: realtime
                    listings:
                      - protocol: ondo
                        chain: sol
                        address: 9wJ6gxvqYc6P3kHhTTMVSaMxfsBGBN47f3T8kdgWvB2d
                        share_multiplier: "1"
                        token_ticker: AAPLon
                        min_trade_size_usd: 21
                      - protocol: xstocks
                        chain: eth
                        address: "0x9d275685dc284c8eb1c79f6aba7a63dc75ec890a"
                        share_multiplier: "1"
                        token_ticker: AAPLx
                      - protocol: robinhood
                        chain: robinhood
                        address: "0xaF3D76f1834A1d425780943C99Ea8A608f8a93f9"
                        share_multiplier: "1"
                        token_ticker: AAPL
                      - protocol: coinbase
                        chain: base
                        address: "0xb200000000000000000000c2e324d24d7eecd1fb"
                        share_multiplier: "1"
                        token_ticker: AAPL
                    tradfi:
                      current_price_usd: "227.63"
                      currency: USD
                      price_native: "227.63"
                      change_24h_pct: "1.12"
                      market_cap_usd: "3461000000000"
                      pe_ttm: "34.6"
                      volume_shares: "48213000"
                      volume_1d_usd: "10974000000"
                      as_of: 1789056000
                    extended_hours: null
                    market_session: regular
                    is_holiday: false
                    holiday_name: null
                    analyst:
                      rating: Buy
                      target_price_usd: "250.00"
                    analyst_grades:
                      - firm: Morgan Stanley
                        grade: Overweight
                        action: buy
                        date: "2026-09-08"
                      - firm: Barclays
                        grade: Equal Weight
                        action: hold
                        date: "2026-09-02"
                    earnings:
                      next_date: "2026-10-30"
                      eps_estimate: "1.62"
                    news:
                      - title: Apple unveils new iPhone lineup
                        url: https://example.com/apple-iphone
                        publisher: Reuters
                        published_at: "2026-09-09T17:05:00Z"
                        type: news
                        snippet: Apple introduced its next iPhone generation at its annual September event.
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "401": { description: Missing or invalid integrator key }
        "403": { description: Reporting key presented (insufficient_scope) }
        "404": { description: Unknown or inactive ticker }
        "429": { $ref: "#/components/responses/RateLimited" }

  /quote/buy:
    post:
      operationId: quoteBuy
      tags: [Quote]
      summary: Quote USDC → stock token (one leg per chain the ticker lists, better first)
      description: |
        Requires `ownership_proof` for each wallet provided. Returns one best leg per
        chain the ticker lists (up to four today: sol, eth, robinhood, base) — the
        signable quote legs (one per chain). Cache the returned `quote_id`;
        every signed leg is submitted together at `/trade/submit`.
        Set `quote_only: true` for a non-executable price preview (the wallet need
        not be funded; `quote_id`, `expires_at`, and `signable_payloads` are omitted).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QuoteBuyRequest"
            examples:
              default_routing:
                summary: Auto-route across every chain the ticker lists
                value:
                  ticker: AAPL
                  amount_usdc: "100"
                  max_slippage_bps: 100
                  sol_wallet: 7Np41oeYqPefeNQEHSv1UDhYrehxin3NStELsSKCTFNP
                  eth_wallet: "0x1111111111111111111111111111111111111111"
                  ownership_proof:
                    sol_signature: 3sJ7...(base58 signature over the challenge)
                    eth_signature: "0x5b2c...(65-byte signature over the challenge)"
                    issued_at: 1789056000
              speed_transaction:
                summary: Speed route on base, wallet pays gas (`execution` omitted = `"transaction"`)
                description: >-
                  Returns one or two complete unsigned transactions (`evm_eip1559_tx` on base,
                  `evm_legacy_tx` on robinhood) to sign whole and return as `evm_signed_tx`. The
                  wallet needs native ETH on that chain. See the `speed_transaction_pair` response
                  example.
                value:
                  ticker: AAPL
                  amount_usdc: "100"
                  chain: base
                  priority: speed
                  max_slippage_bps: 100
                  eth_wallet: "0x1111111111111111111111111111111111111111"
                  ownership_proof:
                    eth_signature: "0x5b2c...(65-byte signature over the challenge)"
                    issued_at: 1789056000
              speed_user_operation:
                summary: Speed route on base, your paymaster pays gas (`execution:"user_operation"`)
                description: >-
                  Returns one `evm_calls` payload to pack into a sponsored ERC-4337 v0.7
                  UserOperation from an EIP-7702-delegated Modular Account v2 wallet and return as
                  `evm_user_operation`. Requires `priority:"speed"`. See the `speed_user_operation`
                  response example.
                value:
                  ticker: AAPL
                  amount_usdc: "100"
                  chain: base
                  priority: speed
                  execution: user_operation
                  max_slippage_bps: 100
                  eth_wallet: "0x1111111111111111111111111111111111111111"
                  ownership_proof:
                    eth_signature: "0x5b2c...(65-byte signature over the challenge)"
                    issued_at: 1789056000
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteBuyResponse"
              examples:
                speed_transaction_pair:
                  summary: "`priority:\"speed\"` on base — wallet not yet approved, so `approve` then `swap`"
                  description: >-
                    `tx_hex` / `tx_base64` are truncated here; each is a complete unsigned
                    transaction with nonce, gas and fees already set. Sign both bytes-as-is and
                    return one `evm_signed_tx` per payload, in this order. An already-approved wallet
                    gets the `swap` payload only. `gasless:false` and `estimated_gas_usd` are the
                    caller's own gas.
                  value:
                    quote_id: 7Kp3mQxT9vLw2nRb5cYd8FhJ
                    side: buy
                    ticker: AAPL
                    expires_at: 1789056042
                    tradfi_reference:
                      price_usd: "227.63"
                      market_status: open
                      as_of: 1789055995
                    quotes:
                      - quote_index: 0
                        chain: base
                        protocol: coinbase
                        price_usdc_per_share: "228.11"
                        estimated_output_shares: "0.438385"
                        estimated_output_tokens: "0.438385"
                        base_asset: usdc
                        amount_base: "100"
                        cost_breakdown_bps:
                          treasures_fee_bps: 10
                          dex_swap_fee_bps: 5
                          estimated_slippage_bps: 0
                          price_impact_bps: 0
                          slippage_vs_tradfi_bps: 21
                        gasless: false
                        estimated_gas_usd: "0.0031"
                        signable_payloads:
                          - type: evm_eip1559_tx
                            role: approve
                            from: "0x1111111111111111111111111111111111111111"
                            tx_hex: "0x02f8b2822105"
                            tx_base64: AvisgiEF
                            approval_spender: null
                            chain_id: 8453
                            nonce: 41
                            gas: "58000"
                            max_fee_per_gas: "12000000"
                            max_priority_fee_per_gas: "1000000"
                          - type: evm_eip1559_tx
                            role: swap
                            from: "0x1111111111111111111111111111111111111111"
                            tx_hex: "0x02f9024c822105"
                            tx_base64: AvkCTIIhBQ
                            approval_spender: "0x111111125421cA6dc452d289314280a0f8842A65"
                            chain_id: 8453
                            nonce: 42
                            gas: "310000"
                            max_fee_per_gas: "12000000"
                            max_priority_fee_per_gas: "1000000"
                    warnings: []
                speed_user_operation:
                  summary: "`priority:\"speed\"` + `execution:\"user_operation\"` on base — one `evm_calls` payload"
                  description: >-
                    `calls[].data` is truncated here. Pack the calls, in order, into ONE ERC-4337 v0.7
                    UserOperation from `sender` (`execute` for one call, `executeBatch` for two),
                    sponsor it with your paymaster, sign, and return it as `evm_user_operation`.
                    The leg is `gasless:true` with `estimated_gas_usd:"0"` because the paymaster pays.
                  value:
                    quote_id: 7Kp3mQxT9vLw2nRb5cYd8FhJ
                    side: buy
                    ticker: AAPL
                    expires_at: 1789056042
                    tradfi_reference:
                      price_usd: "227.63"
                      market_status: open
                      as_of: 1789055995
                    quotes:
                      - quote_index: 0
                        chain: base
                        protocol: coinbase
                        price_usdc_per_share: "228.11"
                        estimated_output_shares: "0.438385"
                        estimated_output_tokens: "0.438385"
                        base_asset: usdc
                        amount_base: "100"
                        cost_breakdown_bps:
                          treasures_fee_bps: 10
                          dex_swap_fee_bps: 5
                          estimated_slippage_bps: 0
                          price_impact_bps: 0
                          slippage_vs_tradfi_bps: 21
                        gasless: true
                        estimated_gas_usd: "0"
                        signable_payloads:
                          - type: evm_calls
                            chain_id: 8453
                            sender: "0x1111111111111111111111111111111111111111"
                            entry_point: "0x0000000071727De22E5E9d8BAf0edAc6f37da032"
                            approval_spender: "0x111111125421cA6dc452d289314280a0f8842A65"
                            calls:
                              - role: approve
                                to: "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
                                data: "0x095ea7b3000000000000000000000000111111125421ca6dc452d289314280a0f8842a65ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff"
                                value: "0"
                              - role: swap
                                to: "0x111111125421cA6dc452d289314280a0f8842A65"
                                data: "0x07ed2379"
                                value: "0"
                    warnings: []
        "400":
          description: >-
            Invalid request body, slippage out of range, unknown ticker, zero amount, or (pinned
            `execution: "user_operation"`) a wallet not delegated to Modular Account v2.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidRequestError"
                  - $ref: "#/components/schemas/InvalidSlippageError"
                  - $ref: "#/components/schemas/WalletNotDelegatedError"
        "401":
          description: Ownership-proof failure.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OwnershipProofError"
        "410":
          description: Quote stale (upstream price moved past expiry mid-build).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleError"
              example: { error: quote_stale }
        "422":
          description: |
            No fillable routes returned by the planner, or a basket listing whose
            issuer-published price is unusable.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/NoRoutesError"
                  - $ref: "#/components/schemas/BasketPriceUnavailableError"
              examples:
                no_routes: { value: { error: no_routes } }
                basket_price_unavailable:
                  { value: { error: basket_price_unavailable } }
        "403": { $ref: "#/components/responses/AddressBlocked" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/ProviderUnavailable" }
        "503": { $ref: "#/components/responses/ScreeningUnavailable" }

  /quote/preview:
    post:
      operationId: quotePreview
      tags: [Quote]
      summary: Wallet-less price preview (integrator key required)
      security:
        - IntegratorApiKey: []
      description: |
        The `quote_only` shape with **no wallet and no ownership proof**: prices every chain the
        ticker lists (or those your `chain` / `protocol` filters allow) and returns the same legs
        `POST /quote/buy` would, minus `quote_id`,
        `expires_at`, every leg's `signable_payloads`, and `warnings_ack_token`. Nothing is
        persisted, so there is no `/quote/{quote_id}/status` to poll and nothing to submit —
        re-quote through `/quote/buy` for anything you intend to sign.

        **A key is required here**, unlike every other quote route: this is the one quote that
        binds no wallet at all. Send your general `tik_` key; a read-only `trk_` reporting key is
        refused `403 insufficient_scope` like everywhere else off the reporting routes.

        Identical requests inside a 10-second window are answered from one venue fan-out; a
        refusal is never cached. Budgets are per-IP and per-organisation as elsewhere, **plus a
        global ceiling shared by every caller of this route** — so a 429 here can be someone
        else's traffic. Honour `Retry-After` rather than retrying immediately.

        **Read `X-RateLimit-*` on this route as the shared bucket, not as yours.** The headers
        report the **last** limiter applied, which here is that global ceiling, so
        `X-RateLimit-Remaining: 0` says the route is saturated across all callers — not that
        *you* are out of budget. Back off for `Retry-After` seconds and retry; do not stand down
        for a whole minute on the assumption you exhausted a per-caller window.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QuotePreviewRequest"
      responses:
        "200":
          description: Non-executable price preview.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteBuyResponse"
        "400":
          description: >-
            Invalid request body, slippage out of range, unknown ticker, zero amount, or an
            `amount_usdc` above the 1000000 preview cap.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidRequestError"
                  - $ref: "#/components/schemas/InvalidSlippageError"
        "401":
          description: No integrator key presented, or an unknown one.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleError"
              example: { error: invalid_api_key }
        "403":
          description: |
            A read-only `trk_` reporting key was presented (`insufficient_scope`), the key was
            retired (`key_revoked`), or your organisation is suspended (`integrator_suspended`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleError"
              example: { error: insufficient_scope }
        "422":
          description: |
            No fillable routes returned by the planner, or a basket listing whose
            issuer-published price is unusable.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/NoRoutesError"
                  - $ref: "#/components/schemas/BasketPriceUnavailableError"
              examples:
                no_routes: { value: { error: no_routes } }
                basket_price_unavailable:
                  { value: { error: basket_price_unavailable } }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/ProviderUnavailable" }

  /quote/sell:
    post:
      operationId: quoteSell
      tags: [Quote]
      summary: Quote stock holdings → USDC (all legs needed; all-or-nothing submit)
      description: |
        Plans the optimal sequence of swap legs across the user's current holdings.
        Every returned leg must be signed and submitted together at `/trade/submit`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QuoteSellRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteSellResponse"
        "400":
          description: >-
            Invalid request body, slippage out of range, unknown ticker, zero amount, or (pinned
            `execution: "user_operation"`) a wallet not delegated to Modular Account v2.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidRequestError"
                  - $ref: "#/components/schemas/InvalidSlippageError"
                  - $ref: "#/components/schemas/WalletNotDelegatedError"
        "401":
          description: Ownership-proof failure.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OwnershipProofError"
        "410":
          description: Quote stale (upstream price moved past expiry mid-build).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleError"
              example: { error: quote_stale }
        "422":
          description: |
            No fillable routes returned by the planner, or insufficient holdings
            for the requested share amount.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/NoRoutesError"
                  - $ref: "#/components/schemas/SimpleError"
              examples:
                no_routes: { value: { error: no_routes } }
                holdings_insufficient:
                  { value: { error: holdings_insufficient } }
                holdings_unknown: { value: { error: holdings_unknown } }
        "403": { $ref: "#/components/responses/AddressBlocked" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/ProviderUnavailable" }
        "503": { $ref: "#/components/responses/ScreeningUnavailable" }

  /quote/{quote_id}/status:
    get:
      operationId: getQuoteStatus
      tags: [Quote]
      summary: Aggregate + per-leg status for a previously issued quote
      description: |
        Public read-only — no `ownership_proof`. Ethereum in-flight rows are
        lazy-flipped against the upstream venue on read; Solana `broadcast_unknown` rows stay
        in-flight until operator action. In-progress aggregates are cached per venue class: 1 s while
        a speed-route leg submitted in the last 5 min is still in flight, 10 s otherwise;
        `poll_after_ms` sits just above that window and is `null` once the aggregate is terminal
        (stop polling).
      parameters:
        - name: quote_id
          in: path
          required: true
          schema: { type: string, minLength: 1 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteStatusResponse"
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "404":
          description: Unknown `quote_id` (expired cache, never issued, or no rows persisted).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleError"
              example: { error: quote_not_found }
        "429": { $ref: "#/components/responses/RateLimited" }

  /trade/submit:
    post:
      operationId: submitTrade
      tags: [Trade]
      summary: Submit signed quote legs atomically
      description: |
        Idempotent on `(quote_id, quote_index)`. The per-leg signed payload IS the
        authorization proof — no `ownership_proof` required here. Re-quote (`410
        quote_stale`) if the cached snapshot expired between issue and submit.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TradeSubmitRequest"
            examples:
              speed_signed_pair:
                summary: Speed-route leg (`execution:"transaction"`) — both transactions signed whole
                description: >-
                  One `evm_signed_tx` per `SignableEvmTx` payload the quote issued, in the order
                  issued (`approve` at nonce n, `swap` at n+1). Sign each `tx_hex` unchanged —
                  never re-nonce, re-estimate or re-serialize — and do not broadcast; Treasures
                  does. `signed_tx_hex` is truncated here.
                value:
                  quote_id: 7Kp3mQxT9vLw2nRb5cYd8FhJ
                  signed:
                    - quote_index: 0
                      signed_payloads:
                        - type: evm_signed_tx
                          signed_tx_hex: "0x02f8f5822105"
                        - type: evm_signed_tx
                          signed_tx_hex: "0x02f9028f822105"
              user_operation:
                summary: Speed-route leg (`execution:"user_operation"`) — one sponsored, signed UserOperation
                description: >-
                  The v0.7 UserOperation you built from the quote's `evm_calls` payload, sponsored by
                  your paymaster and signed by the delegated wallet. Do not send it to a bundler
                  yourself; Treasures simulates, submits and returns `user_op_hash`. `callData`,
                  `paymasterData` and `signature` are truncated here. Numerics may be decimal or
                  0x-hex strings.
                value:
                  quote_id: 7Kp3mQxT9vLw2nRb5cYd8FhJ
                  signed:
                    - quote_index: 0
                      signed_payloads:
                        - type: evm_user_operation
                          user_operation:
                            sender: "0x1111111111111111111111111111111111111111"
                            nonce: "0x1a"
                            callData: "0x34fcd5be"
                            callGasLimit: "0x5b8d8"
                            verificationGasLimit: "0x1d4c0"
                            preVerificationGas: "0x11170"
                            maxFeePerGas: "0xb71b00"
                            maxPriorityFeePerGas: "0xf4240"
                            paymaster: "0x2cc0c7981D846b9F2a16276556f6e8cb52BfB633"
                            paymasterVerificationGasLimit: "0x186a0"
                            paymasterPostOpGasLimit: "0xc350"
                            paymasterData: "0x000000000000"
                            signature: "0xff0000"
      responses:
        "200":
          description: |
            Partial-broadcast tolerated: legs that landed appear under `results`,
            legs that hit an invariant break appear under `failed_legs` with a
            generic `internal_error` code so the agent can reconcile on-chain.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradeSubmitResponse"
              examples:
                speed_broadcast:
                  summary: Speed-route leg accepted — `tx_hash` is the swap's from the start
                  description: >-
                    On a pair the swap hash is known immediately (it is `keccak256` of the signed
                    swap) but appears on chain only after the bundled `approve` mines. Poll
                    `/quote/{quote_id}/status` until `completed`.
                  value:
                    results:
                      - quote_index: 0
                        trade_id: trd_9vLw2nRb5cYd8FhJ7Kp3mQxT
                        status: broadcast
                        tx_hash: "0x6d1c9d3b1f9a1c1c0f7e2d4a5b6c7d8e9f0a1b2c3d4e5f60718293a4b5c6d7e8"
                        order_hash: null
                        user_op_hash: null
                        error_code: null
                    failed_legs: []
                user_operation_broadcast:
                  summary: UserOperation accepted by the bundler — `user_op_hash` set, `tx_hash` still null
                  description: >-
                    `tx_hash` becomes the bundle transaction once mined; poll
                    `/quote/{quote_id}/status`. A paymaster refusal would instead be
                    `status: broadcast_failed` with `error_code: sponsorship_rejected`.
                  value:
                    results:
                      - quote_index: 0
                        trade_id: trd_9vLw2nRb5cYd8FhJ7Kp3mQxT
                        status: broadcast
                        tx_hash: null
                        order_hash: null
                        user_op_hash: "0x2b7e151628aed2a6abf7158809cf4f3c762e7160f38b4da56a784d9045190cfe"
                        error_code: null
                    failed_legs: []
        "400":
          description: Malformed body, incomplete submit, or `quote_index` not in snapshot.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidRequestError"
                  - $ref: "#/components/schemas/SimpleErrorWithMessage"
              examples:
                incomplete_submit:
                  {
                    value:
                      {
                        error: incomplete_submit,
                        message: "missing leg(s) for quote_id ...",
                      },
                  }
                quote_index_mismatch:
                  {
                    value:
                      {
                        error: quote_index_mismatch,
                        message: "unknown quote_index ...",
                      },
                  }
        "404":
          description: Unknown or expired `quote_id`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleError"
              example: { error: quote_not_found }
        "409":
          description: A leg under `(quote_id, quote_index)` was already submitted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegAlreadySubmittedError"
        "410":
          description: Snapshot expired between issue and submit — re-quote.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleError"
              example: { error: quote_stale }
        "422":
          description: |
            You sent `acknowledged_warnings` and it does not match the warnings served with this
            `quote_id`. Only reachable when the field is present — omitting it always proceeds.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleErrorWithMessage"
              example:
                {
                  error: warnings_not_acknowledged,
                  message: "echo warnings_ack_token from the quote as acknowledged_warnings to proceed",
                }
        "403": { $ref: "#/components/responses/AddressBlocked" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/ScreeningUnavailable" }

  /bridge/quote:
    post:
      operationId: quoteBridge
      tags: [Bridge]
      summary: Quote a cross-chain USDC bridge
      description: |
        Returns a Treasures-issued `bridge_quote_id` plus a signable payload the
        agent must broadcast themselves. Both `sol_wallet` and `eth_wallet` (and
        their matching `ownership_proof` signatures) are mandatory.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BridgeQuoteRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BridgeQuoteResponse"
        "400":
          description: |
            Bad request, same-chain bridge, unsupported route, or slippage out of range.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidRequestError"
                  - $ref: "#/components/schemas/InvalidSlippageError"
                  - $ref: "#/components/schemas/SimpleError"
              examples:
                same_chain_bridge: { value: { error: same_chain_bridge } }
                unsupported_route: { value: { error: unsupported_route } }
        "401":
          description: Ownership-proof failure.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OwnershipProofError"
        "422":
          description: Upstream reported insufficient liquidity for the route.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleError"
              example: { error: insufficient_liquidity }
        "403": { $ref: "#/components/responses/AddressBlocked" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/ProviderUnavailable" }
        "503": { $ref: "#/components/responses/ScreeningUnavailable" }

  /bridge/{bridge_quote_id}/status:
    get:
      operationId: getBridgeStatus
      tags: [Bridge]
      summary: Status of a previously issued bridge quote
      description: |
        Required because the agent has no other way to discover the destination
        tx hash — the upstream bridge's source tx hash alone cannot be used to
        look up fill status.
      parameters:
        - name: bridge_quote_id
          in: path
          required: true
          schema:
            type: string
            pattern: "^brq_[A-Za-z0-9_-]{21}$"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BridgeStatusResponse"
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "404":
          description: Unknown `bridge_quote_id`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleError"
              example: { error: bridge_quote_not_found }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/ProviderUnavailable" }

  /portfolio:
    get:
      operationId: getPortfolio
      tags: [Portfolio]
      summary: Reconciled holdings + USDC / USDG balances for the given wallets
      description: At least one of `sol_wallet` / `eth_wallet` is required.
      parameters:
        - $ref: "#/components/parameters/SolWalletQuery"
        - $ref: "#/components/parameters/EvmWalletQuery"
        - $ref: "#/components/parameters/SourceQuery"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortfolioResponse"
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /trades:
    get:
      operationId: listTrades
      tags: [Trades]
      summary: Swap-only trade history for the given wallets
      description: |
        Returns trades plus a `next_offset` cursor when more pages exist.
        Synthesizes external rows on detected drift (source = `external`).
      parameters:
        - $ref: "#/components/parameters/SolWalletQuery"
        - $ref: "#/components/parameters/EvmWalletQuery"
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 5000
            default: 0
        - $ref: "#/components/parameters/SourceQuery"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradesResponse"
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /settlements:
    get:
      operationId: listSettlements
      tags: [Settlements]
      summary: Your organisation's settled trades, paginated
      security:
        - IntegratorApiKey: []
      description: |
        Every trade submitted through `POST /trade/submit` **with your API key
        presented**, newest first. This is the one route a read-only `trk_` reporting
        key may call; your `tik_` key works here too and returns the same rows.

        **Settled fills only.** A trade appears once it reaches `completed` — on
        Ethereum and Robinhood Chain that is when the resolver fills the order, which
        can be minutes after you submitted it. Until then the amounts on record are
        quote-time expectations, not what happened, so they are withheld rather than
        reported as fact. Poll `GET /quote/{quote_id}/status` for in-flight legs.

        **Attribution requires the header.** A submit sent without `X-API-Key` is not
        attributed to anyone and will never appear here — there is no way to recover
        it afterwards. Trades predating this endpoint are likewise absent.

        Ordering and pagination key on settlement time. Pass the previous response's
        `next_cursor` back as `cursor` to page; `has_more` tells you whether another
        page exists. `data` may be shorter than `limit` while `has_more` is `true`.

        **Re-scan a trailing window if you reconcile exactly.** A small number of Solana
        trades are settled by a recovery job that records the on-chain block time, which
        is earlier than when the record appeared — typically by minutes. Such a row lands
        *behind* a cursor you have already paged past. If your totals must be exact,
        re-scan roughly the last 2 hours on each pass rather than relying on the cursor
        alone; `trade_id` is stable, so re-scanned rows deduplicate cleanly. Note that 2
        hours is a normal-operations figure, not a guaranteed bound: if that recovery job
        is itself delayed, a row can be backdated by as long as the delay. Treat a
        periodic wider re-scan as the backstop for balances that must tie out exactly.

        Each entry carries a LI.FI-style `sending` / `receiving` leg pair. Treasures
        trades are single-chain swaps, so both legs share one transaction hash,
        chain and timestamp — only the token and amount differ. The top-level
        `tx_hash` / `token_out_address` / `amount` mirror the `receiving` leg.

        **Every amount is truncated, never rounded up.** Amounts, prices and fees are
        reported at or below their true value — never above it — so a figure here is
        always safe to reconcile, re-spend, or pay out against without a buffer. Treat
        the last decimal place as a floor rather than a rounded value.

        **Filtering.** All filter parameters are optional and combine with AND; omitting
        one means "any". `chain`, `protocol` and `ticker` accept a comma-separated list
        which is an OR *within* that parameter — `?chain=sol,eth&ticker=AAPL` means AAPL
        on Solana or Ethereum. Repeating a parameter is **not** additive:
        `?chain=sol&chain=eth` is read as `sol` alone, so use the comma form. A filter
        that matches nothing returns an empty `data` with `200`, never an error.

        **Casing follows the response.** Every filter value is matched in the casing this
        endpoint reports it in: `chain`, `protocol` and `side` are lowercase and are
        matched exactly (`?side=BUY` is rejected), while `ticker` is reported uppercase
        and is the one filter accepted in any case. EVM `token_out_address` values are
        case-insensitive; Solana addresses are base58 and case-sensitive.

        **A cursor is bound to the filters that produced it.** Paging is a keyset over one
        result set, so changing any filter mid-chain invalidates the cursor and returns
        `400 cursor: filters_changed` — start that new query from the first page. Changing
        `limit` is fine and does not invalidate the cursor.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          description: >-
            Opaque cursor from a prior response's `next_cursor`. Treat it as a blob —
            its encoding is not part of this contract and may change.
          schema:
            type: string
            maxLength: 256
        # style: form + explode: false IS the comma-separated serialization (`?chain=sol,eth`), and
        # encoding it this way rather than as a bare string states the non-additive rule structurally:
        # a repeated `?chain=sol&chain=eth` is the explode:true form, which this endpoint does not use.
        - name: chain
          in: query
          style: form
          explode: false
          description: Chains to include; omit for all. Values are lowercase, matched exactly.
          schema:
            type: array
            maxItems: 4
            items:
              type: string
              enum: [sol, eth, robinhood, base]
          example: [sol, eth]
        - name: protocol
          in: query
          style: form
          explode: false
          description: Protocols to include; omit for all. Values are lowercase, matched exactly.
          schema:
            type: array
            maxItems: 4
            items:
              type: string
              enum: [ondo, xstocks, robinhood, coinbase]
          example: [ondo, xstocks]
        - name: ticker
          in: query
          style: form
          explode: false
          description: >-
            Tickers to include, case-insensitive. Matches the response's `ticker` field,
            not the venue-suffixed token symbol.
          schema:
            type: array
            maxItems: 50
            items:
              type: string
              maxLength: 10
          example: [AAPL, MSFT]
        - name: side
          in: query
          schema:
            type: string
            enum: [buy, sell]
        - name: token_out_address
          in: query
          description: >-
            The contract address of the token **received**, matching the response's
            `token_out_address`. Because that field is side-dependent, so is this filter:
            a stock token address returns *buys* of that token, while a base-currency
            address (USDC, or USDG on Robinhood Chain) returns *sells* on that chain. An
            address we do not carry returns an empty page rather than an error.
          schema:
            type: string
            example: "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48"
        - name: settled_from
          in: query
          description: >-
            Earliest settlement time, inclusive, as a Unix timestamp in seconds. Compares
            against the same `timestamp` each entry reports.
          schema:
            type: integer
            minimum: 0
            maximum: 253402300798
        - name: settled_to
          in: query
          description: >-
            Latest settlement time, **inclusive of the whole second** — an entry
            reporting `timestamp` equal to this value is always included. Must be greater
            than or equal to `settled_from`.
          schema:
            type: integer
            minimum: 0
            maximum: 253402300798
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettlementsResponse"
        "400":
          description: >-
            Invalid query. `cursor: malformed` means the cursor did not decode —
            restart from the first page rather than retrying it. `cursor:
            filters_changed` means the cursor came from a different set of filters;
            restart that query from the first page. `settled_from: must be <=
            settled_to` means the time range is inverted.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InvalidRequestError" }
        "401":
          description: >-
            Missing, malformed or unknown `X-API-Key`. These are deliberately
            indistinguishable — the API never reveals whether a key exists.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SimpleError" }
              example: { error: "invalid_api_key" }
        "403":
          description: >-
            A key you genuinely hold, but which may not be used here.
            `key_revoked` — the key was retired. `integrator_suspended` — your
            organisation is suspended, so every one of your keys is affected.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SimpleError" }
              example: { error: "key_revoked" }
        "429": { $ref: "#/components/responses/RateLimited" }

components:
  securitySchemes:
    IntegratorApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: >-
        Per-organisation key issued out of band. Two kinds: `tik_…` (general — API
        access) and `trk_…` (reporting — read-only, intended to be handed to a
        third party, and accepted **only** on the reporting routes: today just
        `GET /settlements`. Every other route in this spec answers
        `insufficient_scope`). Required by `GET /settlements`, by
        `POST /quote/preview` and by `GET /stocks/{ticker}` (the latter two take a
        general `tik_` key only, being non-reporting routes); accepted on every other
        route for attribution and a per-organisation rate bucket. Send it on `POST /trade/submit` too — that is what makes a trade
        appear in your `GET /settlements` reporting.
        A missing or unknown key is `401 invalid_api_key`; a real but retired key
        is `403 key_revoked`.

  parameters:
    SolWalletQuery:
      name: sol_wallet
      in: query
      required: false
      schema:
        $ref: "#/components/schemas/SolAddress"
    SourceQuery:
      name: source
      in: query
      required: false
      description: >-
        Column toggle (not a row filter). `all` (default) leaves the internal-lot P&L
        columns null; `internal` populates them from a replay of completed internal
        trades only. Realized P&L follows Hyperliquid `closedPnl` semantics.
      schema:
        type: string
        enum: [all, internal]
        default: all
    EvmWalletQuery:
      name: eth_wallet
      in: query
      required: false
      schema:
        $ref: "#/components/schemas/EvmAddress"

  responses:
    InvalidRequest:
      description: Malformed query, body, or path parameter.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/InvalidRequestError"
    RateLimited:
      description: >-
        Sliding window exceeded — per-IP or per-(IP, wallet), plus a
        per-organisation bucket (shared across all of your keys) whenever a valid
        `X-API-Key` is presented. `Retry-After` header carries delta-seconds.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SimpleError"
          example: { error: "Too many requests" }
    ProviderUnavailable:
      description: Upstream provider failed or rate-limited us.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SimpleError"
          example: { error: provider_unavailable }
    AddressBlocked:
      description: |
        A wallet on the request was flagged by sanctions screening. Permanent —
        do not retry with the same wallet.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SimpleError"
          example: { error: address_blocked }
    ScreeningUnavailable:
      description: |
        Sanctions screening could not be completed and the request was rejected
        (fail-closed). Transient — back off and retry.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SimpleError"
          example: { error: screening_unavailable }

  schemas:
    # ------------ Listing-tradability advisory (shared by every surface that carries it) ---
    Tradability:
      type: string
      enum: [thin, untradable]
      description: >
        Probe warning for one cell. `thin` — the cell fills, but not at every size below its
        measured minimum. `untradable` — nothing filled at any size across a full measurement
        window, and no minimum accompanies it. **Neither value disables the cell**; quotes are
        still accepted for both. Absent means unmeasured or unwarned — never
        healthy-with-value-null.
    WarnReason:
      type: string
      enum: [settlement_failure, no_price_feed, no_fill_window, no_settlements, low_volume]
      description: >
        Why the cell is warned, strongest evidence first: `settlement_failure` (a real order died)
        > `no_price_feed` (the venue holds no price for the pair) > `no_fill_window` (a full window
        of quiet auctions) > `no_settlements` (no value-bearing on-chain settlement in the census
        window) > `low_volume` (a volume proxy). Absent when unwarned, or when the warn predates
        reason recording. Not stable over a cell's lifetime — a `low_volume` warn that later kills a
        real order flips to `settlement_failure`.
    SideNeutralWarnReason:
      type: string
      enum: [low_volume, no_price_feed, no_settlements]
      description: >
        The subset of `WarnReason` that bears on an exit as much as an entry, and the only values a
        sell surface publishes. The buy-sided reasons (`no_fill_window`, `settlement_failure`) are
        measured against buys, so a sell leg carrying one would warn about someone else's trade; a
        cell warned only for those publishes nothing here.
    ThinSince:
      type: string
      format: date-time
      description: When the warning above was first raised. Present exactly when `tradability` is.
    # ------------ Primitives ----------------------------------------------
    SolAddress:
      type: string
      description: Solana base58 address.
      pattern: "^[1-9A-HJ-NP-Za-km-z]{32,44}$"
      example: 9aJ6jUyG7zG3yfPbsi5tFFqA1cnp7zCfL6pYfqyZP4qE

    EvmAddress:
      type: string
      description: Lowercased EVM address (server normalizes on parse).
      pattern: "^0x[a-fA-F0-9]{40}$"
      example: "0x742d35cc6634c0532925a3b844bc454e4438f44e"

    DecimalString:
      type: string
      description: Decimal number as a string to preserve full precision.

    UsdcHumanAmount:
      type: string
      description: USDC amount in human units, > 0, up to 6 fractional digits.
      pattern: '^(?:[1-9]\d*|0)(?:\.\d{1,6})?$'
      example: "100.50"

    SharesHumanAmount:
      type: string
      description: Share amount, > 0, up to 18 fractional digits.
      pattern: '^(?:[1-9]\d*|0)(?:\.\d{1,18})?$'
      example: "1.5"

    Ticker:
      type: string
      pattern: "^[A-Z0-9][A-Z0-9.]{0,9}$"
      example: AAPL

    Chain:
      type: string
      enum: [sol, eth, robinhood, base]

    Protocol:
      type: string
      enum: [ondo, xstocks, robinhood, coinbase]

    SlippageBps:
      type: integer
      minimum: 0
      maximum: 10000
      description: |
        Maximum tolerated slippage in basis points. Each route validates against
        its own `[MIN, MAX]` window — out-of-range returns `400 invalid_slippage`
        with the active bounds.

    Execution:
      type: [string, "null"]
      enum: [transaction, user_operation, null]
      description: >-
        How a **speed-route** leg is handed back. `"transaction"` (the default — absent and `null`
        mean the same) is the raw-transaction shape: one `SignableEvmTx` per transaction, signed
        whole, gas paid by the wallet. `"user_operation"` returns the same calls as ONE `evm_calls`
        payload (`SignableEvmCalls`) for you to pack into an ERC-4337 v0.7 UserOperation from the
        wallet — which must be **EIP-7702-delegated to Alchemy Modular Account v2** on that chain —
        sponsor with your own paymaster, sign, and return as `evm_user_operation`; Treasures submits
        it to a bundler and tracks it. The leg is then `gasless: true` with
        `estimated_gas_usd: "0"`. Only meaningful with `priority: "speed"` — sending
        `"user_operation"` without it is `400 invalid_request`. Served on `base` and `robinhood`
        (a chain whose bundler is not configured answers `422 no_routes` pinned, or drops that chain
        with `speed_route_unavailable` / `disabled` unpinned). An undelegated
        wallet is `400 wallet_not_delegated` when pinned, or a `wallet_not_delegated` drop reason.

    Priority:
      type: [string, "null"]
      enum: [speed, null]
      description: >-
        How to route, when there is a choice. `"speed"` asks for the **speed route** on the two L2
        venues that have one (`robinhood`, `base`): a single on-chain swap that settles in one block
        instead of a relayed order, quoted as a complete unsigned transaction you sign and Treasures
        broadcasts. It costs you native gas on that chain; no pre-approval is needed — a wallet
        that has not approved the router gets an `approve` payload bundled before the `swap` (see
        `SignableEvmTx` `role`). Absent/`null` = today's
        routing, unchanged. A **filter, not a preference**: under `"speed"` the only candidates are
        `sol` (unchanged — its route is already fast) and the `robinhood`/`base` speed routes.
        `eth` is never quoted under `"speed"`, and a `robinhood`/`base` leg the speed route cannot
        serve is **absent** from the response — never returned on its relayed route — with a
        `speed_route_unavailable` warning naming the chain and the reason. A one-element
        `chain: "eth"` (or `["eth"]`) together with `"speed"` is a contradiction and is refused as
        `400 invalid_request` (`priority: "speed" is not available on eth`); a set that also names
        other chains simply loses `eth`.

    # ------------ Errors --------------------------------------------------
    SimpleError:
      type: object
      required: [error]
      properties:
        error: { type: string }
      additionalProperties: false

    SimpleErrorWithMessage:
      type: object
      required: [error, message]
      properties:
        error: { type: string }
        message: { type: string }
      additionalProperties: false

    InvalidRequestError:
      type: object
      required: [error, message]
      properties:
        error: { type: string, enum: [invalid_request] }
        message: { type: string }
      additionalProperties: false

    InvalidSlippageError:
      type: object
      required: [error, allowed_min_bps, allowed_max_bps]
      properties:
        error: { type: string, enum: [invalid_slippage] }
        allowed_min_bps: { type: integer }
        allowed_max_bps: { type: integer }
      additionalProperties: false

    OwnershipProofError:
      type: object
      required: [error]
      properties:
        error:
          type: string
          enum:
            - ownership_proof_invalid
            - ownership_proof_sol_invalid
            - ownership_proof_eth_invalid
            - ownership_proof_skewed
      additionalProperties: false

    NoRoutesError:
      type: object
      required: [error]
      properties:
        error: { type: string, enum: [no_routes] }
        min_notional_usdc:
          type: string
          description: |
            Present only when we have measured a minimum for this ticker and your
            order was below it — the actionable answer to a refusal that would
            otherwise carry no reason at all. Retry at or above this size.

            Read AFTER the venue refused, never before: this never causes a
            refusal, it only explains one.
        reason:
          type: string
          enum:
            [
              slippage_exceeded,
              amount_too_small,
              price_off_reference,
              price_implausible,
              reference_unavailable,
              no_price_feed,
              market_closed,
              insufficient_balance,
            ]
          description: |
            Present only when a strict majority of dropped cells share the same
            actionable reason; otherwise omitted.

            `price_off_reference` covers both non-caller-tunable price refusals:
            an outright refusal against the asset's reference market price (a
            route existed but priced too far from it to be safe to fill), and a
            dropped cell whose route price impact exceeded the absolute backstop.
            Unlike `slippage_exceeded`, neither cap is caller-tunable, so raising
            `max_slippage_bps` will not clear them — do not prompt for that.

            The cap tracks how live the reference is rather than the clock:
            outside the regular session the check may measure against a live
            market price instead of the previous close. The reference it used is
            internal and is NOT the `tradfi_reference` on a successful quote — do
            not reconstruct the check from that field. Treat the refusal as
            transient: neither a smaller size nor a higher `max_slippage_bps`
            clears it, but a re-quote 30–60s later may.

            `market_closed` — the listing's trading session is shut (weekend,
            overnight for a regular-hours-only listing, or a US market holiday).
            Refused **before** signing, so nothing was committed. Not size- or
            slippage-tunable: resubmit when the session reopens. Sessions are
            per-listing, and some listings close **per chain** rather than as a
            whole — so a `chain`-pinned request can be refused while another chain
            still serves the ticker. Retry unpinned, or on another chain from
            `available_chains`, before waiting out the session.

            `price_implausible` — the quote sits so far from the reference that we
            do not trust our own arithmetic, so we will not execute on it. No size,
            no `max_slippage_bps` and no acknowledgement clears it; a re-quote may.

            `reference_unavailable` is a **retained wire word with no current
            producer**. A missing reference used to refuse the quote; it is now
            served, with `tradfi_reference: null` and a `no_reference` entry in
            `warnings[]`. Keep parsing the value — it is still published so a
            client that models it does not break — but do not build a flow around
            receiving it.

            `insufficient_balance` describes **your own wallet**, not the venue,
            and is only reachable on a `chain`-pinned `priority: "speed"` request —
            the one shape where the speed route is the only candidate, so its
            refusal becomes the whole answer. The wallet is short the spent token
            on that chain: fund it and re-quote. Unpinned, the same condition
            drops that leg from the response (never a relayed fallback) and the
            response carries a `speed_route_unavailable` warning. (A missing
            router allowance is never a refusal on either shape — the quote
            bundles the approve.)
      additionalProperties: false

    BasketPriceUnavailableError:
      type: object
      required: [error]
      properties:
        error: { type: string, enum: [basket_price_unavailable] }
      description: |
        Only reachable on **`/quote/buy`**, and only for a **basket** listing
        (`MAG7X`, the Ondo Intelligent Portfolio). A basket has no single
        underlying, so no reference market price exists for it and the usual
        reference check cannot run — the one sanity check left is the issuer's
        own published price. This refusal means that price was missing,
        non-positive, or older than an hour.

        `/quote/sell` never returns this: an exit is never gated on the issuer's
        price feed, so a holder can always get out.

        Distinct from `no_routes`: a route existed and the venue was fine, and
        the refusal lands before any venue is asked for a price. Treat it as
        transient and retry in a few minutes; no size or slippage change clears
        it, and no other ticker is affected.
      additionalProperties: false

    LegAlreadySubmittedError:
      type: object
      required: [error, tx_hash, order_hash]
      properties:
        error: { type: string, enum: [leg_already_submitted] }
        message: { type: string }
        tx_hash: { type: [string, "null"] }
        order_hash: { type: [string, "null"] }
        user_op_hash:
          type: string
          description: >-
            Present only when the conflict is on a `user_operation` leg: the ERC-4337 op hash the
            earlier submit owns (its `tx_hash` is null until the bundle mines).
      additionalProperties: false

    WalletNotDelegatedError:
      type: object
      required: [error, chain, message]
      properties:
        error: { type: string, enum: [wallet_not_delegated] }
        chain: { $ref: "#/components/schemas/Chain" }
        message: { type: string }
      additionalProperties: false
      description: >-
        A `chain`-pinned `priority: "speed"` + `execution: "user_operation"` request whose
        `eth_wallet` is not EIP-7702-delegated to Alchemy Modular Account v2 on that chain. Only
        the caller can clear it (delegate, then re-quote) — or re-quote with
        `execution: "transaction"` for the raw-transaction shape.

    # ------------ Ownership proof ----------------------------------------
    OwnershipProof:
      type: object
      required: [issued_at]
      properties:
        sol_signature:
          type: string
          description: |
            Base64 raw Ed25519 signature over the canonical challenge. Required
            when `sol_wallet` is present in the same request.
          minLength: 1
          maxLength: 150
        eth_signature:
          type: string
          description: |
            `0x`-prefixed 65-byte EIP-191 `personal_sign` signature. Required when
            `eth_wallet` is present in the same request.
          minLength: 1
          maxLength: 150
        issued_at:
          type: integer
          description: |
            Unix seconds. Server accepts up to **300 s past / 30 s future** —
            outside that window → `401 ownership_proof_skewed`.
      additionalProperties: false

    # ------------ Stocks --------------------------------------------------
    StockProtocolListing:
      type: object
      required: [sol_address, eth_address, share_multiplier, token_ticker]
      properties:
        sol_address: { type: [string, "null"] }
        eth_address: { type: [string, "null"] }
        share_multiplier: { type: [string, "null"] }
        sol_min_trade_size_usd:
          type: integer
          description: >
            Per-cell measured minimum for this protocol on Solana, in whole USDC.
            Same semantics as the ticker-level `min_trade_size_usd`: **absent means
            no minimum is known**, never zero, and it is advisory rather than a gate.
            Present only when the probe has measured this specific cell recently.
        eth_min_trade_size_usd:
          type: integer
          description: Per-cell measured minimum for this protocol on Ethereum. See `sol_min_trade_size_usd`.
        sol_tradability:
          $ref: '#/components/schemas/Tradability'
          description: >
            Per-cell probe warning for this protocol on Solana. `thin` — the cell fills, but not at
            every size below `sol_min_trade_size_usd`. `untradable` — nothing filled at any size
            across a full measurement window, and no minimum accompanies it. **Neither value
            disables the cell**; quotes are still accepted for both. Absent means unmeasured or
            unwarned — never healthy-with-value-null. Chain-suffixed because this block spans a
            Solana and an Ethereum cell.
        sol_warn_reason:
          $ref: '#/components/schemas/WarnReason'
          description: >
            Why the Solana cell is warned, strongest evidence first. Absent when unwarned, or when
            the warn predates reason recording. Not stable over a cell's lifetime — a `low_volume`
            warn that later kills a real order flips to `settlement_failure`.
        sol_thin_since:
          $ref: '#/components/schemas/ThinSince'
          description: When the Solana warning was first raised. Present exactly when `sol_tradability` is.
        eth_tradability:
          $ref: '#/components/schemas/Tradability'
          description: Per-cell probe warning for this protocol on Ethereum. See `sol_tradability`.
        eth_warn_reason:
          $ref: '#/components/schemas/WarnReason'
          description: Why the Ethereum cell is warned, strongest evidence first. See `sol_warn_reason`.
        eth_thin_since:
          $ref: '#/components/schemas/ThinSince'
          description: When the Ethereum warning was first raised. Present exactly when `eth_tradability` is.
        token_ticker:
          type: [string, "null"]
          description: Issuer's wrapped-token symbol (`<TICKER>on` Ondo, `<TICKER>x` xStocks). Null when not listed.

    RobinhoodListing:
      type: object
      description: >
        Robinhood Chain (4663) venue listing. Single-chain, so one `address`
        instead of the sol/eth pair; token decimals stay internal.
      required: [address, share_multiplier, token_ticker]
      properties:
        address: { type: [string, "null"] }
        share_multiplier: { type: [string, "null"] }
        min_trade_size_usd:
          type: integer
          description: >
            Measured minimum for this single-cell venue, in whole USDC. **Absent means
            no minimum is known**, never zero, and it is advisory rather than a gate.
        tradability:
          $ref: '#/components/schemas/Tradability'
          description: >
            Probe warning for this single-cell venue. `thin` — the cell fills, but not at every
            size below `min_trade_size_usd`. `untradable` — nothing filled at any size across a
            full measurement window, and no minimum accompanies it. **Neither value disables the
            cell**; quotes are still accepted for both. Absent means unmeasured or unwarned —
            never healthy-with-value-null. Bare rather than chain-suffixed: this block names
            exactly one cell.
        warn_reason:
          $ref: '#/components/schemas/WarnReason'
          description: >
            Why the cell is warned, strongest evidence first. Absent when unwarned, or when the
            warn predates reason recording. Not stable over a cell's lifetime — a `low_volume`
            warn that later kills a real order flips to `settlement_failure`.
        thin_since:
          $ref: '#/components/schemas/ThinSince'
        token_ticker:
          type: [string, "null"]
          description: Bare stock symbol (Robinhood Stock Tokens carry no on/x suffix). Null when not listed.

    TradfiBlock:
      type: object
      required:
        [
          current_price_usd,
          currency,
          price_native,
          change_24h_pct,
          market_cap_usd,
          pe_ttm,
          volume_shares,
          volume_1d_usd,
          as_of,
        ]
      properties:
        current_price_usd: { $ref: "#/components/schemas/DecimalString" }
        currency:
          type: string
          description:
            ISO-4217 quote currency of the underlying listing — "USD" for every US
            row. Every other price on this block is already converted to USD.
        price_native:
          allOf: [{ $ref: "#/components/schemas/DecimalString" }]
          description:
            The price as the exchange quotes it, before conversion, so a client can
            render e.g. HK$446.20 without re-deriving it. Equal to
            current_price_usd when currency is "USD".
        change_24h_pct:
          allOf: [{ $ref: "#/components/schemas/DecimalString" }]
          description:
            Percent change in the LISTING's own currency, not converted — a ratio
            does not convert, and doing it correctly would need yesterday's FX rate.
        market_cap_usd:
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
          description:
            Null when the feed serves the line without a market cap (funds, newly
            listed board codes). Converted to USD like every other price here.
        pe_ttm:
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
        volume_shares:
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
          description:
            Shares traded in the current session — not a trailing average and not
            USD (contrast onchain volume_24h_usd). Null when the feed omits it.
        volume_1d_usd:
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
          description:
            Session dollar volume — volume_shares × current_price_usd, rounded to
            whole dollars, so it is directly comparable to the onchain
            volume_24h_usd. Null exactly when volume_shares is null.
        as_of:
          type: integer
          description: Exchange-side last-tick timestamp (unix seconds).

    AnchorSource:
      description:
        Which reference a premium_vs_anchor_pct was measured against — the live regular-session
        print, the aftermarket print while it is still printing, or the frozen regular-session
        close. Never the on-chain mark - the premium measures an on-chain price, so anchoring it
        there would measure that price against itself.
      type: string
      enum: [tradfi_live, tradfi_extended, tradfi_frozen]

    StockOnchainAggregate:
      type: object
      required: [avg_share_price_usd, premium_vs_tradfi_pct, premium_vs_anchor_pct, volume_24h_usd]
      properties:
        avg_share_price_usd:
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
        premium_vs_tradfi_pct:
          deprecated: true
          description:
            DEPRECATED - measured against tradfi.current_price_usd, which freezes at the
            regular-session close, so it overstates the premium overnight and at weekends. Use
            premium_vs_anchor_pct, which names the reference it used.
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
        premium_vs_anchor_pct:
          description:
            Signed percent of avg_share_price_usd against the anchor named by anchor_source. Null
            when no tradfi reference resolves at all, in which case anchor_source is absent.
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
        anchor_source: { $ref: "#/components/schemas/AnchorSource" }
        volume_24h_usd: { $ref: "#/components/schemas/DecimalString" }

    StockOnchainProtocolLeg:
      type: object
      required: [share_price_usd, premium_vs_tradfi_pct, premium_vs_anchor_pct, volume_24h_usd]
      properties:
        share_price_usd:
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
        premium_vs_tradfi_pct:
          deprecated: true
          description: DEPRECATED - see StockOnchainAggregate.premium_vs_tradfi_pct.
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
        premium_vs_anchor_pct:
          description:
            Signed percent of share_price_usd against the anchor named by anchor_source. Null when
            no tradfi reference resolves at all, in which case anchor_source is absent.
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
        anchor_source: { $ref: "#/components/schemas/AnchorSource" }
        volume_24h_usd: { $ref: "#/components/schemas/DecimalString" }

    StockOnchainPerProtocol:
      type: object
      required: [ondo, xstocks, robinhood, coinbase]
      properties:
        ondo:
          oneOf:
            - { $ref: "#/components/schemas/StockOnchainProtocolLeg" }
            - { type: "null" }
        xstocks:
          oneOf:
            - { $ref: "#/components/schemas/StockOnchainProtocolLeg" }
            - { type: "null" }
        robinhood:
          oneOf:
            - { $ref: "#/components/schemas/StockOnchainProtocolLeg" }
            - { type: "null" }
        coinbase:
          description: >-
            Coinbase B20 on Base (8453). Carries the same supply gate as the listing —
            an unminted cell prices `null`.
          oneOf:
            - { $ref: "#/components/schemas/StockOnchainProtocolLeg" }
            - { type: "null" }

    StockTickerItem:
      type: object
      required: [ticker, name, available_chains, ondo, xstocks, robinhood, coinbase]
      properties:
        ticker: { $ref: "#/components/schemas/Ticker" }
        name: { type: string }
        available_chains:
          type: array
          items: { $ref: "#/components/schemas/Chain" }
        min_trade_size_usd:
          type: integer
          description: |
            Smallest order size, in whole USDC, we have measured filling for this
            ticker on any venue — the cheapest across cells, since a buy routes to
            whichever cell can serve it.

            **Absent means no minimum is known**, not that there is none: the
            listing has not been measured recently enough to say. Fall back to the
            $3 product floor. Never treat an absent field as `0`.

            Advisory. A quote below this is still accepted and still goes to the
            venue; it is simply likely to be refused. Measured in-session, and
            published unchanged outside it as a valid lower bound — off-session
            minimums are higher, never lower.
        tradability:
          $ref: '#/components/schemas/Tradability'
          description: |
            Ticker-level roll-up of the per-cell warnings below. Present only when
            **every** measured cell for this ticker is warned — not when any one is.
            A ticker with one healthy measured cell is healthy somewhere and carries
            nothing, so a single dead venue can never label a live listing.

            The word follows the cheapest floor, exactly as it does per cell. `thin`
            — every measured cell is warned and `min_trade_size_usd` is published
            alongside. `untradable` — every measured cell is warned and none filled
            at any size, so no minimum accompanies it. Cells the probe has not
            measured are not counted either way, so `untradable` is a statement about
            the measured surface, not proof that no venue can fill.

            **Neither value means the listing is disabled.** Quotes are still
            accepted for both; this is guidance to show a user before they try,
            not a gate.
        warn_reason:
          $ref: '#/components/schemas/WarnReason'
          description: |
            Why the ticker is warned, strongest evidence first: a real order that
            terminally expired, then the venue stating it holds no price for the
            pair, then a full window of quiet auctions with no fill, then no
            value-bearing on-chain settlement in the census window, then a
            low-volume proxy.

            Present only alongside `tradability`; absent when the warn predates
            reason recording — that is "reason not recorded", never "no reason".
            Rolled up as the **strongest** reason across the warned cells, not the
            cheapest cell's, and not stable over a listing's lifetime: the value
            changes when stronger evidence arrives. Read the per-cell
            `sol_warn_reason` / `eth_warn_reason` / `warn_reason` on the venue
            blocks below before committing to a cell.

            There is no ticker-level `thin_since` — one stamp cannot date several
            cells' warnings; take it per cell.
        ondo: { $ref: "#/components/schemas/StockProtocolListing" }
        xstocks: { $ref: "#/components/schemas/StockProtocolListing" }
        robinhood: { $ref: "#/components/schemas/RobinhoodListing" }
        coinbase: { $ref: "#/components/schemas/CoinbaseListing" }

    CoinbaseListing:
      type: object
      description: >
        Coinbase B20 venue listing on Base (8453). Single-chain, so one `address`
        instead of the sol/eth pair; token decimals stay internal.

        **Supply-gated.** Coinbase deployed its B20 tokens unminted, and a cell stays
        hidden until real supply exists: `address` and `token_ticker` are `null`, `base`
        is omitted from `available_chains`, and a quote returns `422 no_routes`. The
        listed set therefore grows over time — read this endpoint rather than hardcoding.
        `min_trade_size_usd` and the warn trio (`tradability`, `warn_reason`,
        `thin_since`) are gated with them, so a hidden cell never publishes a minimum
        or a warning for a venue the same response says does not exist.
      required: [address, share_multiplier, token_ticker]
      properties:
        address: { type: [string, "null"] }
        share_multiplier: { type: [string, "null"] }
        min_trade_size_usd:
          type: integer
          description: >
            Measured minimum for this single-cell venue, in whole USDC. **Absent means
            no minimum is known**, never zero, and it is advisory rather than a gate.
        tradability:
          $ref: '#/components/schemas/Tradability'
          description: >
            Probe warning for this single-cell venue. `thin` — the cell fills, but not at every
            size below `min_trade_size_usd`. `untradable` — nothing filled at any size across a
            full measurement window, and no minimum accompanies it. **Neither value disables the
            cell**; quotes are still accepted for both. Absent means unmeasured or unwarned —
            never healthy-with-value-null. Bare rather than chain-suffixed: this block names
            exactly one cell.
        warn_reason:
          $ref: '#/components/schemas/WarnReason'
          description: >
            Why the cell is warned, strongest evidence first. Absent when unwarned, or when the
            warn predates reason recording. Not stable over a cell's lifetime — a `low_volume`
            warn that later kills a real order flips to `settlement_failure`.
        thin_since:
          $ref: '#/components/schemas/ThinSince'
        token_ticker:
          type: [string, "null"]
          description: Bare stock symbol (B20 tokens carry no on/x suffix). Null when not listed.

    StockListItem:
      allOf:
        - $ref: "#/components/schemas/StockTickerItem"
        - type: object
          required: [tradfi, onchain]
          properties:
            tradfi:
              oneOf:
                - { $ref: "#/components/schemas/TradfiBlock" }
                - { type: "null" }
            onchain:
              oneOf:
                - { $ref: "#/components/schemas/StockOnchainAggregate" }
                - { type: "null" }

    StockPriceItem:
      type: object
      required: [ticker, tradfi, onchain]
      properties:
        ticker: { $ref: "#/components/schemas/Ticker" }
        tradfi:
          oneOf:
            - { $ref: "#/components/schemas/TradfiBlock" }
            - { type: "null" }
        onchain: { $ref: "#/components/schemas/StockOnchainPerProtocol" }

    StockExchange:
      type: string
      description: >-
        The listing venue a stock trades on, and the source of `exchange_country` and `data_delay`.
        Deliberately not the full exchange universe: it enumerates the venues this catalog serves,
        and grows without a breaking change — treat an unlisted value as a new venue, not an error.
      enum: [NASDAQ, NYSE, AMEX, CBOE, HKSE]

    StockDataDelay:
      type: string
      description: >-
        How fresh the TradFi tape for this venue is. `realtime` is the live quote; `delayed_15m`
        means every price on the item — including `tradfi` — trails the market by about 15 minutes
        and must be labelled as delayed wherever it is shown.
      enum: [realtime, delayed_15m]

    StockDetailListing:
      type: object
      description: >
        One real (protocol, chain, address) token deployment for this ticker — the tuple you forward
        to the quote routes as `protocol` + `chain`. Combos the ticker does not list are simply
        absent, and a supply-gated `coinbase` cell publishes no entry at all until its token is
        minted. Token decimals stay internal; read them on-chain.
      required: [protocol, chain, address, share_multiplier, token_ticker]
      properties:
        protocol: { $ref: "#/components/schemas/Protocol" }
        chain: { $ref: "#/components/schemas/Chain" }
        address: { type: string }
        share_multiplier: { type: [string, "null"] }
        token_ticker: { type: string }
        min_trade_size_usd:
          type: integer
          description: >
            Smallest order size, in whole USDC, measured filling on THIS cell. **Absent means no
            minimum is known**, never zero, and it is advisory rather than a gate.
        tradability:
          $ref: '#/components/schemas/Tradability'
          description: >
            Probe warning for this one cell. `thin` — the cell fills, but not at every size below
            `min_trade_size_usd`. `untradable` — nothing filled at any size across a full
            measurement window, and no minimum accompanies it. **Neither value disables the cell**;
            quotes are still accepted for both. Absent means unmeasured or unwarned — never
            healthy-with-value-null.
        warn_reason:
          $ref: '#/components/schemas/WarnReason'
          description: >
            Why the cell is warned, strongest evidence first. Absent when unwarned, or when the
            warn predates reason recording. Not stable over a cell's lifetime — a `low_volume`
            warn that later kills a real order flips to `settlement_failure`.
        thin_since:
          $ref: '#/components/schemas/ThinSince'

    ExtendedHoursBlock:
      type: object
      description: >-
        Last pre/post-market print — a sibling of, never a substitute for, `tradfi`, whose fields all
        stay anchored to the regular session. Null whenever no honest value exists: during the
        regular session (the feed is stale then), when the ticker has no extended print, when
        `tradfi` is null (no anchor for the change), or when the print is not newer than
        `tradfi.as_of`. The feed prints only inside 04:00–20:00 ET and then holds its last value, so
        overnight and at weekends this stays populated with the final post-market print — label
        staleness off `as_of` rather than assuming it is live.
      required: [price_usd, change_usd, change_pct, session, as_of]
      properties:
        price_usd: { $ref: "#/components/schemas/DecimalString" }
        change_usd:
          type: string
          description: price_usd − tradfi.current_price_usd. May be negative.
        change_pct:
          type: string
          description: >-
            The same difference in percent, against the regular-session close. May be negative.
        session:
          type: string
          description: >-
            Which extended window this print came from — independent of `market_session`. Overnight
            `market_session` is `closed` while this stays `post`.
          enum: [pre, post]
        as_of:
          type: integer
          description: Timestamp of the extended print (unix seconds).

    AnalystRating:
      type: object
      required: [rating, target_price_usd]
      properties:
        rating:
          type: [string, "null"]
          description: Consensus label (e.g. "Buy").
        target_price_usd: { type: [string, "null"] }

    AnalystGrade:
      type: object
      required: [firm, grade, action, date]
      properties:
        firm: { type: string }
        grade:
          type: string
          description: Raw grade text (e.g. "Overweight").
        action: { type: string, enum: [buy, hold, sell] }
        date:
          type: string
          description: ISO `YYYY-MM-DD`.

    NextEarnings:
      type: object
      description: >-
        The ticker's nearest scheduled report inside a 30-day horizon. The block is null when no
        report falls in that window (or when the calendar read faulted) — never a farther date.
      required: [next_date, eps_estimate]
      properties:
        next_date:
          type: string
          description: ISO `YYYY-MM-DD`.
        eps_estimate:
          oneOf:
            - { $ref: "#/components/schemas/DecimalString" }
            - { type: "null" }
          description: Consensus EPS estimate. Null when none is published for the report.

    NewsItem:
      type: object
      description: >-
        One stored headline for this ticker, newest first, at most 10 per response. There is no
        image field: the vendor's image host is not part of this plane's shape.

      required: [title, url, publisher, published_at, type, snippet]
      properties:
        title: { type: string }
        url: { type: [string, "null"] }
        publisher:
          type: [string, "null"]
          description: The news outlet that published the story.
        published_at:
          type: string
          format: date-time
          description: ISO-8601 UTC.
        type:
          type: string
          description: >-
            Story class — `stock` for a symbol-scoped story, `press_release` for an issuer release.
            Open vocabulary: a value you do not recognise is a new class, not a schema violation.
        snippet: { type: [string, "null"] }

    StockDetailResponse:
      type: object
      description: >
        Everything the catalog knows about one ticker. Every block backed by I/O is fault-isolated
        and degrades to `null` on its own, so any block can be null because its fetch failed. For
        `tradfi`, `extended_hours`, `analyst`, `analyst_grades` and `earnings`, null **also** means
        "no such value exists for this ticker right now" — no coverage, no scheduled report, no
        extended print, no priced reference — and the two causes are not distinguishable from the
        response; read each field's own description for what its null covers. `news` is the one
        block that separates them: `[]` means we hold no headlines, `null` means the read failed,
        so it is the only one worth re-reading on an empty answer. There is deliberately no
        `onchain` block: per-protocol on-chain prices live on `GET /stocks/prices`.
      required:
        [
          ticker,
          name,
          description,
          sector,
          industry,
          website,
          logo_url,
          available_chains,
          listings,
          tradfi,
          extended_hours,
          market_session,
          is_holiday,
          holiday_name,
          analyst,
          analyst_grades,
          earnings,
          news,
        ]
      properties:
        ticker: { $ref: "#/components/schemas/Ticker" }
        name: { type: string }
        description:
          type: [string, "null"]
          description: >-
            Company/asset description. Null when none is stored for this ticker; it is refreshed on
            the catalog's own recheck cadence, not on your read.
        sector: { type: [string, "null"] }
        industry: { type: [string, "null"] }
        website: { type: [string, "null"] }
        logo_url:
          type: [string, "null"]
          description: >-
            Absolute `https` URL of the company logo, served from Treasures' own object store rather
            than the upstream source. Null when no logo has been mirrored for this ticker.
        available_chains:
          type: array
          items: { $ref: "#/components/schemas/Chain" }
        exchange:
          $ref: '#/components/schemas/StockExchange'
          description: >-
            The venue this stock lists on. **Absent** — never null — when we have not resolved one,
            so treat "no key" as unknown rather than as a US listing. Present together with
            `exchange_country` and `data_delay` or not at all.
        exchange_country:
          type: string
          description: >-
            ISO-3166 alpha-2 country of the **exchange**, not of the issuer. Tencent lists in `HK`
            while its issuer country is CN; do not read this as domicile. Derived from `exchange`,
            so it is absent whenever `exchange` is.
        data_delay:
          $ref: '#/components/schemas/StockDataDelay'
          description: >-
            Freshness class of this row's TradFi prices, derived from `exchange`. Absent whenever
            `exchange` is; absent does **not** mean realtime.
        display_ticker:
          type: string
          description: >-
            The ticker as it should be rendered — `0700.HK` for the row keyed `700`. **Absent for a
            US row**, whose bare `ticker` is already the display form. Render `display_ticker ??
            ticker`. Identity stays on `ticker`: every path segment and every other endpoint uses
            that, never this.
        listings:
          type: array
          items: { $ref: "#/components/schemas/StockDetailListing" }
        tradfi:
          oneOf:
            - { $ref: "#/components/schemas/TradfiBlock" }
            - { type: "null" }
          description: >-
            Null when no reference price resolves for the ticker — a basket, or any row the tape
            does not cover — as well as on a fault.
        extended_hours:
          oneOf:
            - { $ref: "#/components/schemas/ExtendedHoursBlock" }
            - { type: "null" }
          description: >-
            Null for the ordinary reasons listed on `ExtendedHoursBlock` — the regular session, no
            extended print, no `tradfi` anchor, a print no newer than `tradfi.as_of` — as well as
            on a fault.
        market_session:
          type: [string, "null"]
          description: >-
            Current US-equity session — global, not per-ticker, and holiday/half-day aware. Picks
            which of `tradfi` / `extended_hours` to render. Null when the session read faulted.
          enum: [regular, pre, post, closed, null]
        is_holiday:
          type: [boolean, "null"]
          description: >-
            True on a NASDAQ holiday **and on its eve** (an early-close day reports this too, not
            just the holiday's own date). Null when the session read faulted.
        holiday_name:
          type: [string, "null"]
          description: >-
            Name of the holiday when `is_holiday` is true; null otherwise, and null when the session
            read faulted.
        analyst:
          oneOf:
            - { $ref: "#/components/schemas/AnalystRating" }
            - { type: "null" }
          description: >-
            Consensus rating and price target. Null when no analyst covers the ticker, and null on a
            fault — the two are not distinguishable here.
        analyst_grades:
          oneOf:
            - type: array
              items: { $ref: "#/components/schemas/AnalystGrade" }
            - { type: "null" }
          description: >-
            Latest grade per firm, most recent first, at most 15 firms. Null when no firm covers the
            ticker, and null on a fault.
        earnings:
          oneOf:
            - { $ref: "#/components/schemas/NextEarnings" }
            - { type: "null" }
          description: >-
            Null when no report falls inside the 30-day horizon, and null on a fault.
        news:
          oneOf:
            - type: array
              items: { $ref: "#/components/schemas/NewsItem" }
            - { type: "null" }
          description: >-
            Up to 10 stored headlines, newest first. `[]` means we hold none for this ticker; `null`
            means the read faulted.

    StocksListResponse:
      type: object
[...]
